{% extends "base.html" %}
{% block title %}Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Shows</li>
    </ol>
</nav>

<h2>Shows</h2>

<p>
    The following are the list of available reports based on data collected for shows.
</p>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.all_shows') }}">
                        All Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows that have been broadcasted, including Best Of and repeat
                        shows. The list does not include any pledge specials shows or special
                        shows that were not aired in their original form.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.all_women_panel') }}">
                        All Women Panel
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows that have had an all women panel.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.best_of_shows') }}">
                        Best Of Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all Best Of shows that have been broadcasted. The list does not
                        include any pledge specials shows or special shows that were not aired in their
                        original form.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.high_scoring_shows') }}">
                        High Scoring Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where the total score for all three panelists is greater than
                        or equal to 50. The shows are sorted by total score in descending order.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.highest_score_equals_sum_other_scores') }}">
                        Highest Score Equals the Sum of Other Scores
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where the highest panelist total score is equal to the sum of
                        the two other panelists' total scores.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_answering_same_number_correct') }}">
                        Lightning Fill In The Blank: All Panelists Answering the Same Number of Questions Correct
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where all three panelists answered the same number of Lightning
                        Fill In The Blank questions correct.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_ending_three_way_tie') }}">
                        Lightning Fill In The Blank Ending in a Three-Way Tie
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where all three panelists finished the Lightning
                        Fill In The Blank segment in a three-way tie.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_starting_ending_three_way_tie') }}">
                        Lightning Fill In The Blank Starting and Ending in a Three-Way Tie
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where all three panelists started <em>and</em> finished the
                        Lightning Fill In The Blank segment in a three-way tie.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_starting_three_way_tie') }}">
                        Lightning Fill In The Blank Starting in a Three-Way Tie
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where all three panelists started the Lightning
                        Fill In The Blank segment in a three-way tie.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_starting_zero_points') }}">
                        Lightning Fill In The Blank Starting with Zero Points
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where a panelist started the Lightning Fill In The Blank segment
                        with zero points.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.lightning_round_zero_correct') }}">
                        Lightning Fill In The Blank Segment with Zero Correct Answers
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where a panelist did not answer any Lightning Fill In The Blank
                        questions correct, thus netting zero additional points.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.low_scoring_shows') }}">
                        Low Scoring Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where the total score for all three panelists is less than 30.
                        The shows are sorted by total score in descending order.
                    </p>
                    <p>
                        Scoring from the 20th anniversary special that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a> is not included
                        due to the unique Lightning Fill In The Blank format. Also, scoring from Best Of
                        and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.not_my_job_guests_vs_bluff_the_listener_win_ratios') }}">
                        Not My Job Guests vs Bluff the Listener Win Ratios by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A comparison between the rates in which a Not My Job guest earns a win against
                        how often a listener contestant chooses the correct Bluff the Listener
                        story, broken down by year along with total rates across all years.
                    </p>
                    <p>
                        For Not My Job guests, a win is considered when a guest answers two or more
                        questions correct or when a
                        <a href="{{ url_for('guests.not_my_job_scoring_exceptions') }}">scorekeeper
                            grants an exception</a>. The report also takes into account
                        <a href="{{ url_for('guests.best_of_only_not_my_job_guests') }}">Not My Job
                            guests that were only included in Best Of shows</a>.
                    </p>
                    <p>
                        As with Not My Job segments and guests that have only been included in Best Of
                        shows, certain Best Of shows also include unique Bluff the Listener segments.
                        Both usually come from shows where Wait Wait... Don't Tell Me! travels and
                        records a second show. In those cases, the Bluff the Listener segments
                        usually include a different theme and a different true story from the
                        first show.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.original_shows') }}">
                        Original Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all original (generally labeled as regular) shows that have been
                        broadcasted. The list does not Best Of, repeat, or any pledge specials shows
                        or special shows that were not aired in their original form.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.panel_gender_mix') }}">
                        Panel Gender Mix
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying years with the number of times a show has had different combination
                        of men and women on a panel, including any instances of an all men or an all
                        women panel.
                    </p>
                    <p>
                        Show counts from Best Of and repeat shows, in addition to the 20th anniversary
                        special that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>, are not
                        included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.repeat_best_of_shows') }}">
                        Repeat Best Of Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all repeat Best Of shows that have been broadcasted. The list does not
                        include any pledge specials shows or special shows that were not aired in their
                        original form.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.repeat_shows') }}">
                        Repeat Shows
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all repeat shows that have been broadcasted. The list does not include
                        any pledge specials shows or special shows that were not aired in their original
                        form.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.search_shows_by_multiple_panelists') }}">
                        Search Shows by Multiple Panelists
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where up to three selected panelists have appeared on the same
                        panel. Options are available to include Best Of and/or repeats shows.
                    </p>
                    <p>
                        Shows that are Repeat Best Of shows will be included if either include show
                        options are checked.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.show_counts_by_year') }}">
                        Show Counts by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying years with corresponding number of regular shows, Best Of shows,
                        repeat shows, repeat Best Of shows, and a total number of shows for each year.
                    </p>
                    <p>
                        The counts for the current year will only include shows that have already aired.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.show_descriptions') }}">
                        Show Descriptions
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows with the corresponding show descriptions.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.show_notes') }}">
                        Show Notes
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows with the corresponding show notes.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.shows_with_guest_host') }}">
                        Shows with a Guest Host
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows, including Best Of and repeat shows, that have had a guest
                        host.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.shows_with_guest_host_scorekeeper') }}">
                        Shows with a Guest Host and a Guest Scorekeeper
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows, including Best Of and repeat shows, that have had a guest
                        host and a guest scorekeeper.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.shows_with_guest_scorekeeper') }}">
                        Shows with a Guest Scorekeeper
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying all shows, including Best Of and repeat shows, that have had a guest
                        scorekeeper.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('shows.shows_with_perfect_panelist_scores') }}">
                        Shows with Perfect Panelist Scores
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying shows where a panelist finishes the Lightning Fill In The Blank
                        segment with a total score of 20 points, a "perfect score" according to
                        scorekeeper Bill Kurtis.
                    </p>
                    <p>
                        The list also includes shows where a panelist has a total score greater
                        than 20 points.
                    </p>
                    <p>
                        <b>Note:</b> Shows that aired in 1998 used a different show format and scoring
                        system compared to the current show format and scoring system.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
