<dl>
    <dt>
        <a href="{{ url_for('shows.all_shows') }}">All Shows</a>
    </dt>
    <dd>
        This reports provides a list of all shows that have been broadcasted,
        including Best Of and repeat shows. The list does not include any pledge
        specials shows or special shows that were not aired in their original form.
    </dd>

    <dt>
        <a href="{{ url_for('shows.all_women_panel') }}">All Women Panel</a>
    </dt>
    <dd>
        This report provides a list of shows that have an all women panel.
    </dd>

    <dt>
        <a href="{{ url_for('shows.high_scoring') }}">High Scoring Shows</a>
    </dt>
    <dd>
        This report provides a list of shows in which the total score for all
        three panelists is greater than or equal to 50, listed in descending
        order.
    </dd>

    <dt>
        <a href="{{ url_for('shows.highest_score_equals_sum_other_scores') }}">Highest
        Score Equals Sum of Other Scores</a>
    </dt>
    <dd>
        This report provides a list of shows in which the highest panelist 
        total score matches the sum of the two other panelists' scores.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_ending_three_way_tie') }}">Lightning
        Round Ending in a Three-Way Tie</a>
    </dt>
    <dd>
        This report provides a list of shows in which all three panelists
        finished the Lightning Fill-in-the Blank segment in a three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_ending_three_way_tie') }}">Lightning
        Round Starting and Ending in a Three-Way Tie</a>
    </dt>
    <dd>
        This report provides a list of shows in which all three panelists
        started <em>and</em> ended the Lightning Fill-in-the Blank segment in a
        three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_three_way_tie') }}">Lightning
        Round Starting in a Three-Way Tie</a>
    </dt>
    <dd>
        This report provides a list of shows in which all three panelists
        started the Lightning Fill-in-the Blank segment in a three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_zero_points') }}">Lightning
        Round Starting with Zero Points</a>
    </dt>
    <dd>
        This report provides a list of shows in which a panelist started the
        Lightning Fill-in-the Blank segment with zero points.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_zero_correct') }}">Lightning
        Round with Zero Correct Answers</a>
    </dt>
    <dd>
        This report provides a list of shows in which a panelist answered zero
        Lightning Fill-in-the Blank questions correct.
    </dd>

    <dt>
        <a href="{{ url_for('shows.low_scoring') }}">Low Scoring Shows</a>
    </dt>
    <dd>
        This report provides a list of shows in which the total score for all
        three panelists is less than or equal to 30, listed in ascending order.
    </dd>
    <dd>
        One exception from the scoring is that the 25th Anniversary Special, that
        aired on October 27, 2018, which is excluded due to the unique Lightning
        Fill-in-the-Blank format.
    </dd>

    <dt>
        <a href="{{ url_for('shows.not_my_job_vs_bluffs') }}">Not My Job Guests vs Bluff
        the Listener Win Ratios</a>
    </dt>
    <dd>
        This report compares the rates in which a Not My Job guest wins compared
        to how often a listener contestant chooses the correct Bluff the Listener
        story.
    </dd>
    <dd>
        For Not My Job guests, a win is considered when a guest answers 2 or more
        questions correct or when a
        <a href="{{ url_for('guests.scoring_exceptions') }}">scorekeeper grants an
        exception</a>. The report also takes into account
        <a href="{{ url_for('guests.best_of_only') }}">Not My Job guests that were only
        included in Best Of shows</a>.
    </dd>

    <dt>
        <a href="{{ url_for('shows.original_shows') }}">Original Shows</a>
    </dt>
    <dd>
        This reports provides a list of original shows that have been broadcasted,
        which excludes Best Of and repeat shows.
    </dd>

    <dt>
        <a href="{{ url_for('shows.panel_gender_mix') }}">Panel Gender Mix</a>
    </dt>
    <dd>
        This report provides a break down of the gender mix of panels for all
        broadcasted shows by year, excluding Best Of, Repeats, pledge specials,
        and the 25th Anniversary special.
    </dd>

    <dt>
        <a href="{{ url_for('shows.search_multiple_panelists') }}">Search
        Shows by Multiple Panelists</a>
    </dt>
    <dd>
        This report allows you to search for shows with a particular set of
        panelists (up to three) with options to include Best Of and repeat shows.
    </dd>

    <dd>
        Shows that are repeats of Best Of shows will be included if either option
        is checked.
    </dd>

    <dt>
        <a href="{{ url_for('shows.counts_by_year') }}">Show Counts by Year</a>
    </dt>
    <dd>
        This report provides a count of the number of regular, Best Of and repeat
        shows, grouped by year.
    </dd>
    <dd>
        The counts for the current year will only include shows that have already
        aired.
    </dd>

    <dt>
        <a href="{{ url_for('shows.guest_host') }}">Shows with a Guest Host</a>
    </dt>
    <dd>
        This report provides a list of all shows, including Best Of and repeat
        shows, that have a guest host.
    </dd>

    <dt>
        <a href="{{ url_for('shows.guest_scorekeeper') }}">Shows with a Guest
        Scorekeeper</a>
    </dt>
    <dd>
        This report provides a list of all shows, including Best Of and repeat
        shows, that have a guest scorekeeper.
    </dd>

    <dt>
        <a href="{{ url_for('shows.perfect_panelist_scores') }}">Shows with
        Perfect Panelist Scores</a>
    </dt>
    <dd>
        This report provides a list of shows where a panelist finishes the
        Lightning Fill-in-the-Blank segment with a total score of 20 points, or
        as Bill Kurtis calls it, a "perfect score".
    </dd>
    <dd>
        The list also includes shows where a panelist has a total score greater
        than 20 points.
    </dd>

</dl>
