<dl>
    <dt>
        <a href="{{ url_for('shows.all_shows') }}">All Shows</a>
    </dt>
    <dd>
        A listing of all shows that have been broadcasted, including Best Ofs
        and Repeats. The list does not include pledge specials or special shows
        that were not aired in their original form.
    </dd>

    <dt>
        <a href="{{ url_for('shows.all_women_panel') }}">All Women Panel</a>
    </dt>
    <dd>
        A listing of all shows that have had an all women panel.
    </dd>

    <dt>
        <a href="{{ url_for('shows.high_scoring') }}">High Scoring Shows</a>
    </dt>
    <dd>
        A listing of shows in which the panel total score is greater than or
        equal to 50.
    </dd>

    <dt>
        <a href="{{ url_for('shows.highest_score_equals_sum_other_scores') }}">Highest
        Score Equals Sum of Other Scores</a>
    </dt>
    <dd>
        A listing of shows in which the highest panelist score matches the sum
        of the two other panelist scores.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_ending_three_way_tie') }}">Lightning
        Round Ending in a Three-Way Tie</a>
    </dt>
    <dd>
        A list of shows in which all three panelists finishing the Lightning
        Fill-in-the Blank round in a three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_ending_three_way_tie') }}">Lightning
        Round Starting and Ending in a Three-Way Tie</a>
    </dt>
    <dd>
        A list of shows in which all three panelists starting and ending the
        Lightning Fill-in-the Blank round in a three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_three_way_tie') }}">Lightning
        Round Starting in a Three-Way Tie</a>
    </dt>
    <dd>
        A list of shows in which all three panelists starting the Lightning
        Fill-in-the Blank round in a three-way tie.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_starting_zero_points') }}">Lightning
        Round Starting with Zero Points</a>
    </dt>
    <dd>
        A list of shows in which panelists start the Lightning Fill-in-the-Blank
        round with zero points.
    </dd>

    <dt>
        <a href="{{ url_for('shows.lightning_round_zero_correct') }}">Lightning
        Round with Zero Correct Answers</a>
    </dt>
    <dd>
        A list of shows in which panelists answered zero Lightning
        Fill-in-the-Blank round questions correct.
    </dd>

    <dt>
        <a href="{{ url_for('shows.low_scoring') }}">Low Scoring Shows</a>
    </dt>
    <dd>
        A listing of shows in which the panel total score is less than 30.
    </dd>

    <dt>
        <a href="{{ url_for('shows.original_shows') }}">Original Shows</a>
    </dt>
    <dd>
        A listing of each original broadcast show, which excludes: Best Ofs,
        Repeats, pledge specials and other special shows that were not broadcast
        in their entirety.
    </dd>

    <dt>
        <a href="{{ url_for('shows.panel_gender_mix') }}">Panel Gender Mix</a>
    </dt>
    <dd>
        A break down of the panel gender mix for each show by year (excluding
        Best Ofs, Repeat and special shows).
    </dd>


    <dt>
        <a href="{{ url_for('shows.search_multiple_panelists') }}">Search
        Shows by Multiple Panelists</a>
    </dt>
    <dd>
        Search shows in which the panel includes one to three selected panelists
        on a panel.
    </dd>

    <dt>
        <a href="{{ url_for('shows.counts_by_year') }}">Show Counts by Year</a>
    </dt>
    <dd>
        A count of the number of regular, Best Of, repeat, and repeat Best Of
        shows on a per-year basis.
    </dd>

    <dt>
        <a href="{{ url_for('shows.guest_host') }}">Shows with a Guest Host</a>
    </dt>
    <dd>
        A listing of all shows, including Best Of and repeats, that had a guest
        host filling in.
    </dd>

    <dt>
        <a href="{{ url_for('shows.guest_scorekeeper') }}">Shows with a Guest
        Scorekeeper</a>
    </dt>
    <dd>
        A listing of all shows, including Best Of and repeats, that had a
        guest scorekeeper filling in.
    </dd>

    <dt>
        <a href="{{ url_for('shows.perfect_panelist_scores') }}">Shows with
        Perfect Panelist Scores</a>
    </dt>
    <dd>
        A listing of all shows in which a panelist has a total score of 20
        (or more) points
    </dd>

</dl>
