{% extends "base.html" %}
{% block title %}High Scoring Shows | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>High Scoring Shows</h2>
<p>
    This report provides a list of shows in which the total score for all
    three panelists is greater than or equal to 50, listed in descending
    order.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="score">
        <col class="date">
        <col class="name location">
        <col class="name host">
        <col class="name scorekeeper">
        <col class="name panelist">
        <col class="name guest">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Total Score</th>
            <th scope="col">Show Date</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td>
            {% if use_decimal_scores %}
            {{ "{:f}".format(show.total_score.normalize()) }}
            {% else %}
            {{ show.total_score }}
            {% endif %}
            </td>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            {% if show.location.venue and show.location.city and show.location.city %}
            <td>{{ show.location.venue }} ({{ show.location.city }}, {{ show.location.state }})</td>
            {% elif show.location.venue and (not show.location.city or not show.location.state) %}
            <td>{{ show.location.venue }}</td>
            {% elif show.location.city %}
            <td>{{ show.location.city }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            <td>{{ show.host }}</td>
            <td>{{ show.scorekeeper }}</td>
            <td>
                <ul class="no-bullets">
                {% for panelist in show.panelists %}
                    <li>{{ panelist.name }}:
                    {% if use_decimal_scores %}
                    {{ "{:f}".format(panelist.score_decimal.normalize()) }}
                    {% else %}
                    {{ panelist.score }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
            {% if show.guests %}
            <td>
                <ul class="no-bullets">
                    {% for guest in show.guests %}
                    <li>{{ guest.name }}: {{ guest.score }}
                    {% if guest.exception %} *{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Total Score</th>
            <th scope="col">Show Date</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </tfoot>
</table>
<!-- End Report Section -->
{% endblock content %}
