{% extends "base.html" %}
{% set page_title = "Lightning Round Ending in a Three-Way Tie" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a list of shows that have an all women panel.
    </p>
</div>

{% if shows %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="date">
                    <col class="name panelist">
                    <col class="score">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Show Date</th>
                        <th scope="col">Panelists</th>
                        <th scope="col">Final Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in shows %}
                    <tr>
                        <td><a href="{{ stats_url }}/shows/{{ show.date | replace('-', '/') }}">{{ show.date }}</a></td>
                        <td>
                            <ul class="no-bullets">
                                {% for panelist in show.panelists %}
                                <li> {{ panelist.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ "{:f}".format(show.score_decimal.normalize()) if use_decimal_scores else show.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if shows | length >= 10 %}
                <tfoot>
                    <tr>
                        <th scope="col">Show Date</th>
                        <th scope="col">Panelists</th>
                        <th scope="col">Final Score</th>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
