{% extends "base.html" %}
{% block title %}Lightning Round with Zero Correct Answers | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Lightning Round with Zero Correct Answers</h2>
<p>
    This report provides a list of shows in which a panelist answered zero
    Lightning Fill-in-the Blank questions correct.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="name panelist">
        <col class="score">
        <col class="score">
        <col class="score">
        <col class="rank">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Panelist</th>
            <th scope="col">Start</th>
            <th scope="col">Correct</th>
            <th scope="col">Score</th>
            <th scope="col">Rank</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            <td>{{ show.panelist.name }}</td>
            <td>{{ show.panelist.start }}</td>
            <td>{{ show.panelist.correct }}</td>
            <td>
            {% if use_decimal_scores %}
            {{ "{:f}".format(show.panelist.score_decimal.normalize()) }}
            {% else %}
            {{ show.panelist.score }}
            {% endif %}
            </td>
            <td>{{ rank_map[show.panelist.rank] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->
{% endblock content %}
