{% extends "base.html" %}
{% block title %}Notes | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Show Notes</h2>
<p>
    This report provides a list of show notes for all shows.
</p>
{% endblock synopsis %}

{% block content %}
{% if notes %}
<!-- start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="long-text">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for show in notes %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            {% if show.notes %}
            <td class="notes-text">{{ show.notes | markdown | safe }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Notes</th>
        </tr>
    </tfoot>
</table>
<!-- End Report Section -->
{% else %}
No data is currently available.
{% endif %}
{% endblock content %}
