{% extends "base.html" %}
{% block title %}Shows with Perfect Panelist Scores | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Shows with Perfect Panelist Scores</h2>
<p>
    This report provides a list of shows where a panelist finishes the
    Lightning Fill-in-the-Blank segment with a total score of 20 points, or
    as Bill Kurtis calls it, a "perfect score".
</p>
<p>
    The list also includes shows where a panelist has a total score greater
    than 20 points.
</p>
<p>
    Note: Shows that aired in 1998 used a different show format and scoring
    system compared to the current show format and scoring system.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="name panelist">
        <col class="score">
    </colgroup>
    <thead>
        <tr>
            <td scope="col">Show Date</td>
            <td scope="col">Panelist</td>
            <td scope="col">Total Score</td>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            <td>{{ show.panelist }}</td>
            {% if show.score > 20 %}
                {% if use_decimal_scores %}
            <td><b>{{ "{:f}".format(show.score_decimal.normalize()) }}</b></td>
                {% else %}
            <td><b>{{ show.score }}</b></td>
                {% endif %}
            {% else %}
            {% if use_decimal_scores %}
            <td>{{ "{:f}".format(show.score_decimal.normalize()) }}</td>
            {% else %}
            <td>{{ show.score }}</td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->
{% endblock content %}
