{% extends "base.html" %}
{% block title %}Shows with Perfect Panelist Scores | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Shows with Perfect Panelist Scores</h2>
<p>
    List of shows where a panelist finishes the show with a total score of
    20 points, a "perfect score" as referred to by Bill Kurtis. This report
    also includes any instances of total scores that exceed 20 points.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="name panelist">
        <col class="score">
    </colgroup>
    <thead>
        <tr>
            <td scope="col">Show Date</td>
            <td scope="col">Panelist</td>
            <td scope="col">Total Score</td>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            <td>{{ show.panelist }}</td>
            {% if show.score > 20 %}
            <td><b>{{ show.score }}</b></td>
            {% else %}
            <td>{{ show.score }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->
{% endblock content %}
