{% extends "base.html" %}
{% set page_title = "Search Shows by Multiple Panelists" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A list of shows where up to three selected panelists have appeared on the same
        panel. Options are available to include Best Of and/or repeats shows.
    </p>
    <p>
        Shows that are Repeat Best Of shows will be included if either include show
        options are checked.
    </p>
</div>

<div class="card report-form mb-5">
    <div class="card-body">
        <form method="post" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-6">
                <label for="panelist-1" class="visually-hidden">Panelist 1</label>
                <select id="panelist-1" name="panelist_1" class="form-select" aria-label="Panelist 1 selection">
                    <option value="">-- Select Panelist #1 --</option>
                    {% for panelist in panelists %}
                    {% if request.form.panelist_1 == panelist %}
                    <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                    {% else %}
                    <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="panelist-2" class="visually-hidden">Panelist 2</label>
                <select id="panelist-2" name="panelist_2" class="form-select" aria-label="Panelist 2 selection">
                    <option value="">-- Select Panelist #2 --</option>
                    {% for panelist in panelists %}
                    {% if request.form.panelist_2 == panelist %}
                    <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                    {% else %}
                    <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="panelist-3" class="visually-hidden">Panelist 3</label>
                <select id="panelist-3" name="panelist_3" class="form-select" aria-label="Panelist 3 selection">
                    <option value="">-- Select Panelist #3 --</option>
                    {% for panelist in panelists %}
                    {% if request.form.panelist_3 == panelist %}
                    <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                    {% else %}
                    <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <label for="best-of" class="form-check-label">Include Best Ofs</label>
                    {% if request.form.best_of %}
                    <input class="form-check-input" type="checkbox" id="best-of" name="best_of" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="best-of" name="best_of">
                    {% endif %}
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <label for="repeats">Include Repeats</label>
                    {% if request.form.repeats %}
                    <input class="form-check-input" type="checkbox" id="repeats" name="repeats" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="repeats" name="repeats">
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-submit focus-ring" value="Submit">
            </div>
        </form>
    </div>
</div>

{% if request.method == "POST" %}
{% if not request.form.panelist_1 and not request.form.panelist_2 and not request.form.panelist_3 %}
<div class="alert alert-warning my-5" role="alert">
    <i class="bi bi-exclamation-triangle pe-1"></i> No panelists were selected.
</div>
{% elif not shows %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> No results available for the selected panelists.
</div>
{% else %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="date">
                    <col class="boolean">
                    <col class="date">
                    <col class="name venue">
                    <col class="name host">
                    <col class="name scorekeeper">
                    <col class="name panelist">
                    <col class="name guest">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Best Of</th>
                        <th scope="col">Repeat Of</th>
                        <th scope="col">Location</th>
                        <th scope="col">Host</th>
                        <th scope="col">Scorekeeper</th>
                        <th scope="col">Panelists</th>
                        <th scope="col">Guest</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in shows %}
                    <tr>
                        <td><a href="{{ stats_url }}/shows/{{ show.date | replace('-', '/') }}">{{ show.date }}</a></td>
                        {% if show.best_of %}
                        <td>{{ show.best_of }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.repeat and show.original_show_date is not none %}
                        <td><a href="{{ stats_url }}/shows/{{ show.original_show_date | replace('-', '/') }}">{{ show.original_show_date }}</a></td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.location.venue and show.location.city and show.location.city %}
                        <td>{{ show.location.venue }} ({{ show.location.city }}, {{ show.location.state }})</td>
                        {% elif show.location.venue and (not show.location.city or not show.location.state) %}
                        <td>{{ show.location.venue }}</td>
                        {% elif show.location.city %}
                        <td>{{ show.location.city }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        <td>{{ show.host }}</td>
                        <td>{{ show.scorekeeper }}</td>
                        {% if show.panelists %}
                        <td>
                            <ul class="no-bullets">
                                {% for panelist in show.panelists %}
                                <li>{{ panelist.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.guests %}
                        <td>
                            <ul class="no-bullets">
                                {% for guest in show.guests %}
                                <li>{{ guest.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% if shows | length > 10 %}
                <tfoot>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Best Of</th>
                        <th scope="col">Repeat Of</th>
                        <th scope="col">Location</th>
                        <th scope="col">Host</th>
                        <th scope="col">Scorekeeper</th>
                        <th scope="col">Panelists</th>
                        <th scope="col">Guest</th>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
            <p>
                Records returned: {{ shows | length }}
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

{% endblock content %}
