{% extends "base.html" %}
{% block title %}Search Shows by Multiple Panelists | Shows{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Search Shows by Multiple Panelists</h2>
<p>
    This page is used to search shows in which the panel includes one to
    three of the selected panelists below. Best Of or Repeat shows can be
    included if the respective checkboxes are checked.
</p>

<p>
    Best Of and Repeat shows will be listed if either of the checkboxes are
    checked.
</p>
{% endblock synopsis %}

{% block content %}
<form method="POST" class="pure-form">
    <fieldset>
        <legend>Select 1, 2 or 3 panelists to view common appearances:</legend>
        <div class="panelist-fields">
            <label for="panelist-1">Panelist 1:</label>
            <select id="panelist-1" name="panelist_1">
                <option value="">-- Please chose a panelist --</option>
                {% for panelist in panelists %}
                {% if request.form.panelist_1 == panelist %}
                <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                {% else %}
                <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="panelist-fields">
            <label for="panelist-2">Panelist 2:</label>
            <select id="panelist-2" name="panelist_2">
                <option value="">-- Please chose a panelist --</option>
                {% for panelist in panelists %}
                {% if request.form.panelist_2 == panelist %}
                <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                {% else %}
                <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="panelist-fields">
            <label for="panelist-3">Panelist 3:</label>
            <select id="panelist-3" name="panelist_3">
                <option value="">-- Please chose a panelist --</option>
                {% for panelist in panelists %}
                {% if request.form.panelist_3 == panelist %}
                <option value="{{ panelist }}" selected>{{ panelists[panelist] }}</option>
                {% else %}
                <option value="{{ panelist }}">{{ panelists[panelist] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="panelist-options">
            <div class="panelist-option">
                <label for="best-of">Include Best Ofs</label>
                {% if request.form.best_of %}
                <input type="checkbox" id="best-of" name="best_of" checked>
                {% else %}
                <input type="checkbox" id="best-of" name="best_of">
                {% endif %}
            </div>
            <div class="panelist-option">
                <label for="repeats">Include Repeats</label>
                {% if request.form.repeats %}
                <input type="checkbox" id="repeats" name="repeats" checked>
                {% else %}
                <input type="checkbox" id="repeats" name="repeats">
                {% endif %}
            </div>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

{% if request.method == "POST" %}
<hr>
{% if not request.form.panelist_1 and not request.form.panelist_2 and not request.form.panelist_3 %}
<p class="result-message">No panelists were selected.</p>
{% elif not shows %}
<p class="result-message">No results returned.</p>
{% else %}

<!-- Start Show Listing -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="boolean">
        <col class="name venue">
        <col class="name host">
        <col class="name scorekeeper">
        <col class="name panelist">
        <col class="name guest">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Best Of/Repeat</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            {% if show.best_of and show.repeat %}
            <td>Best Of / Repeat</td>
            {% elif show.best_of and not show.repeat %}
            <td>Best Of</td>
            {% elif show.repeat and not show.best_of %}
            <td>Repeat</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if show.location.venue and show.location.city and show.location.city %}
            <td>{{ show.location.venue }} ({{ show.location.city }}, {{ show.location.state }})</td>
            {% elif show.location.venue and (not show.location.city or not show.location.state) %}
            <td>{{ show.location.venue }}</td>
            {% elif show.location.city %}
            <td>{{ show.location.city }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            <td>{{ show.host }}</td>
            <td>{{ show.scorekeeper }}</td>
            {% if show.panelists %}
            <td>
                <ul class="no-bullets">
                {% for panelist in show.panelists %}
                <li>{{ panelist.name }}</li>
                {% endfor %}
                </ul>
            </td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if show.guests %}
            <td>
                <ul class="no-bullets">
                {% for guest in show.guests %}
                <li>{{ guest.name }}</li>
                {% endfor %}
                </ul>
            </td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    {% if shows|length > 10 %}
    <tfoot>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Best Of/Repeat</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </tfoot>
    {% endif %}
</table>

<p>Records returned: {{ shows|length }}</p>
<!-- End Show Listing -->
{% endif %}
{% endif %}

{% endblock content %}
