{% extends "base.html" %}
{% set page_title = "Show Descriptions" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a list of show descriptions for all shows.
    </p>
</div>

{% if descriptions %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="date">
                    <col class="boolean">
                    <col class="date">
                    <col class="long-text">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Show Date</th>
                        <th scope="col">Best Of</th>
                        <th scope="col">Repeat Of</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in descriptions %}
                    <tr>
                        <td><a href="{{ stats_url }}/shows/{{ show.date | replace('-', '/') }}">{{ show.date }}</a></td>
                        {% if show.best_of %}
                        <td>{{ show.best_of }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.repeat and show.original_show_date is not none %}
                        <td><a href="{{ stats_url }}/shows/{{ show.original_show_date | replace('-', '/') }}">{{ show.original_show_date }}</a></td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.description %}
                        <td class="description-text">{{ show.description | markdown | safe }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                    </tr>
                    {% endfor%}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Show Date</th>
                        <th scope="col">Best Of</th>
                        <th scope="col">Repeat Of</th>
                        <th scope="col">Description</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
