{% extends "base.html" %}
{% block title %}Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Panelists</li>
    </ol>
</nav>

<h2>Panelists</h2>

<p>
    The following are the list of available reports based on data collected for
    panelists.
</p>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.aggregate_scores') }}">
                        Aggregate Scores
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A pair of tables containing aggregate panelist score statistics (including:
                        count, minimum, maximum, mean, median, standard deviation, and total) and
                        aggregate score spread.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.appearance_counts_by_year') }}">
                        Appearance Counts by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelist appearance counts for regular, Best Of,
                        repeat Best Ofs, repeat and all shows grouped by year.
                    </p>
                    <p>
                        Regular show counts do not include Best Of or repeat shows. Counts for
                        both Best Of and repeat shows do not include repeat Best Of shows.
                        Counts for all shows should be the sum of regular, Best Of, repeat and
                        repeat Best Of show counts.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.appearance_counts_by_year_grid') }}">
                        Appearance Counts by Year: Grid
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying each panelist as rows and appearance counts for each
                        year as columns. Appearance counts includes regular shows and all shows, with
                        the count of all shows in parentheses.
                    </p>
                    <p>
                        Regular shows do not include Best Of or repeat shows, while all shows
                        include all available shows.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.appearances_by_year') }}">
                        Appearances by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying appearances with show information, including location, show
                        host, scorekeeper, other panelists and Not My Job guest(s), for a selected
                        panelist grouped by year.
                    </p>
                    <p>
                        <b>Note:</b> The previous form of this report is now available as
                        "<a href="{{ url_for('panelists.appearance_counts_by_year_grid') }}">Appearance Counts by Year: Grid</a>".
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.average_scores_by_year') }}">
                        Average Scores by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying average scores for a selected panelist broken out by year.
                    </p>
                    
                    <p>
                        Scores from Best Of and repeat shows are not included when calculating the
                        average. Additionally, panelist scores from the 29th anniversary show that aired
                        on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a> show are also
                        excluded, due to the unique Lightning Fill In The Blank format.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.average_scores_by_year_all') }}">
                        Average Scores by Year: All
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying each panelist as rows and average scores for each year as
                        columns.
                    </p>
                    <p>
                        Scores from Best Of and repeat shows are not included when calculating the
                        average. Additionally, panelist scores from the 29th anniversary show that aired
                        on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a> show are also
                        excluded, due to the unique Lightning Fill In The Blank format.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.bluff_the_listener_panelist_statistics_by_year') }}">
                        Bluff the Listener Panelist Statistics by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying Bluff the Listener statistics, including the number of chosen stories,
                        the number of correct stories, the number of regular Bluff the Listener
                        segments, and the number of Unique Best Of Bluff the Listener segments, for a
                        selected panelist, grouped by year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.bluff_the_listener_statistics') }}">
                        Bluff the Listener Statistics
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying Bluff the Listener statistics, including the number of chosen stories,
                        the number of correct stories, the number of regular Bluff the Listener
                        segments, and the number of Unique Best Of Bluff the Listener segments, for all
                        panelists.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.bluff_the_listener_statistics_by_year') }}">
                        Bluff the Listener Statistics by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying Bluff the Listener statistics, including the number of chosen stories,
                        the number of correct stories, the number of regular Bluff the Listener
                        segments, and the number of Unique Best Of Bluff the Listener segments, for a
                        selected year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.debuts_by_year') }}">
                        Debuts by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelist debut appearances with show information, including
                        the number of regular show appearances, host, scorekeeper, Not My Job guest(s),
                        grouped by year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.first_most_recent_appearances') }}">
                        First and Most Recent Appearances
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with their first and most recent appearances for both
                        regular shows and for all shows (including Best Of and repeat shows) and the
                        correponding number of appearances.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.first_appearance_all_correct') }}">
                        First Appearance Answering All Lightning Questions Correct
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists who answered all Lightning Fill In The Blank
                        questions (eight in almost every single case) on their debut appearance.
                        Information includes the show date, score at the start of the Lightning
                        Fill In The Blank segment, the number of correct answers, total score,
                        and ranking.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.first_appearance_wins') }}">
                        First Appearance Wins
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists who won outright or tied for first place on their debut
                        appearance. Information includes the show date, score at the start of the
                        Lightning Fill In The Blank segment, the number of correct answers, total score,
                        and ranking.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.first_appearances') }}">
                        First Appearances
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying the first appearance for all panelists, including their score
                        at the start of the Lightning Fill In The Blank segment, the number of
                        correct answers, total score, and ranking.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.first_wins') }}">First Wins</a>
                </h3>
                <p>
                    A table displaying panelists with the show they got their first outright win, by
                    finishing the Lightning Fill In The Blank segment in first place, and
                    their first overall win, which includes outright wins and finishing
                    the segment tied for first.
                </p>
                <p>
                    Panelists who have not won outright and have not finished tied for first
                    will not be listed.
                </p>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.highest_average_correct_answers_by_year') }}">
                        Highest Average Correct Answers by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with their average correct answers and number of appearances
                        for a selected year. The list is sorted by average correct answers in descending
                        order.
                    </p>
                    <p>
                        Scoring information excludes Best Of and repeat shows, as well as the 20th
                        anniversary show that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>
                        due to the unique Lightning Fill In The Blank format.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.highest_average_scores_by_year') }}">
                        Highest Average Scores by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with their average scores and number of appearances for a
                        selected year. The list is sorted by average score in descending order.
                    </p>
                    <p>
                        Scoring information excludes Best Of and repeat shows, as well as the 20th
                        anniversary show that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>
                        due to the unique Lightning Fill In The Blank format.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.lightning_statistics_summary') }}">
                        Lightning Fill In The Blank Statistics Summary
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying Lightning Fill In The Blank statistics for each panelist.
                    </p>
                    <p>
                        Discrepencies between the number of panelist appearances for shows with scores
                        and counts for Start, Correct and Total columns are typically due to earlier
                        shows from 1998 had different segments and formats for scoring.
                    </p>
                    <p>
                        Appearances on and scoring information from Best Of and repeat shows are not
                        included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.losing_streaks') }}">
                        Losing Streaks
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with their longest string of appearances where they lost
                        either by coming in tied for second or in third place, or losing outright by
                        coming in third place.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.most_chosen_bluff_the_listener_by_year') }}">
                        Most Chosen Bluff the Listener Stories by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the number of times their Bluff the Listener story was
                        chosen for a selected year. The list is sorted by the counts in descending
                        order.
                    </p>
                    <p>
                        Counts include Bluff the Listener segments from regular shows and
                        from Best Of shows with unique Bluff segments.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.most_chosen_correct_bluff_the_listener_by_year') }}">
                        Most Chosen Correct Bluff the Listener Stories by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the number of times their Bluff the Listener story was
                        both chosen and was the correct story for a selected year. The list is sorted by
                        the counts in descending order.
                    </p>
                    <p>
                        Counts include Bluff the Listener segments from regular shows and
                        from Best Of shows with unique Bluff segments.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.most_correct_bluff_the_listener_by_year') }}">
                        Most Correct Bluff the Listener Stories by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the number of times their Bluff the Listener story was
                        the correct story for a selected year. The list is sorted by the counts in
                        descending order.
                    </p>
                    <p>
                        Counts include Bluff the Listener segments from regular shows and
                        from Best Of shows with unique Bluff segments.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.most_wins_by_year') }}">
                        Most Wins by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the number of times they have won outright, by coming in
                        first place, or by coming either first place or tied for first place for a
                        selected year.
                    </p>
                    <p>
                        Appearances on Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.panelist_vs_panelist') }}">
                        Panelist vs Panelist
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A comparison of how well a selected panelist performed against all other
                        panelists who they have appeared with.
                    </p>
                    <p>
                        Appearances on Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.panelist_vs_panelist_all') }}">
                        Panelist vs Panelist: All
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying comparisons of how well panelists performed against all other
                        panelists each have appeared with, grouped by panelist.
                    </p>
                    <p>
                        Appearances on Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.panelist_vs_panelist_scoring') }}">
                        Panelist vs Panelist Scoring
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A comparison of how well two selected panelists performed on shows they shared
                        a panel. The comparison includes scores and rankings for each of their
                        appearances.
                    </p>
                    <p>
                        Best Of, repeat and the 20th Anniversary Special that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>,
                        will not be included in the results.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.perfect_score_counts') }}">
                        Perfect Score Counts
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists who scored a total of 20 points, which Bill Kurtis calls
                        a "perfect score" with the number of times they have scored 20 points and the
                        number of times they have scored 20 points or more.
                    </p>
                    <p>
                        Scoring from Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.rankings_summary') }}">
                        Rankings Summary
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the number of times each have finished the Lightning
                        Fill In The Blank segment in first, tied for first, second, tied for second, or
                        third place, and a total count.
                    </p>
                    <p>
                        Appearances on Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.scoring_exceptions') }}">
                        Scoring Exceptions and Anomalies
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table containing panelist scoring exceptions and anomalies where
                        the total score does not match the sum of the starting score and two
                        points for each correct answer. This is usually due to the score
                        presented by the scorekeeper includes: miscounting the number of
                        correct answers, using the incorrect starting score when calculating
                        the total, or general miscalculation.
                    </p>
                    <p>
                        Scoring exceptions for shows from 1998 typically involve the use
                        of a bonus phrase during the final segments of the show, including
                        early versions of Lightning Fill In The Blank.
                    </p>
                    <p>
                        Only scoring exceptions from regular shows are displayed, meaning
                        repeat and Best Of shows are excluded.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.single_appearance') }}">
                        Single Appearance
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists who have only appeared on the show one time along with their
                        total score and ranking.
                    </p>
                    <p>
                        Appearances on Best Of and repeat shows are not included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.statistics_by_gender') }}">
                        Statistics by Gender
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying years with the aggregate panelist ranking and scoring statistics
                        broken out by recorded panelist gender (based on how each panelist has
                        identified themselves).
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.statistics_summary') }}">
                        Statistics Summary
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists each with the number of appearances across regular shows,
                        all shows and shows with corresponding panelist scores, along with scoring
                        statistics.
                    </p>
                    <p>
                        Appearances on and scoring information from Best Of and repeat shows are not
                        included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.statistics_summary_by_year') }}">
                        Statistics Summary by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying years each with the number of appearances across regular shows,
                        all shows and shows with corresponding panelist scores, along with scoring
                        statistics for a selected panelist.
                    </p>
                    <p>
                        Appearances on and scoring information from Best Of and repeat shows are not
                        included.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.win_streaks') }}">
                        Win Streaks
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with their longest string of appearances where they won
                        either by coming in first or tied for first.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('panelists.wins_draws_losses') }}">
                        Wins, Draws and Losses
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A table displaying panelists with the numbers of wins, draws, losses and
                        total counts.
                    </p>
                    <p>
                        In this report, a panelist finishing Lightning Fill In The Blank in
                        first place is a win, finishing tied for first place is a draw, and
                        any other result is considered a loss.
                    </p>
                    <p>
                        Appearances on and ranking from Best Of and repeat shows are not
                        included.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
