<dl>
    <dt>
        <a href="{{ url_for('panelists.aggregate_scores') }}">Aggregate Scores</a>
    </dt>
    <dd>
        A break down of general statistics of all total scores and a break down
        of the number of times a total score has been achieved.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.appearances_by_year') }}">Appearances by Year</a>
    </dt>
    <dd>
        A pivot table containing a list of panelists and the number of appearances
        each panelist has made, broken out by year (excluding Best Of and Repeat shows).
    </dd>

    <dt>
        <a href="{{ url_for('panelists.bluff_stats') }}">Bluff the Listener Statistics</a>
    </dt>
    <dd>
        A report providing a breakdown of the number of times each panelist had
        their Bluff the Listener story chosen, had the correct story, and the
        number of appearances on shows that had a Bluff the Listener segment.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.debut_by_year') }}">Debut by Year</a>
    </dt>
    <dd>
        A report providing a list of panelist debuts broken down by year.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.first_most_recent_appearances') }}">First and Most Recent Appearances</a>
    </dt>
    <dd>
        A report providing a list of the first and most recent appearances, for
        both regular and all shows, for each panelist.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.panelist_pvp_scoring') }}">Panelist vs Panelist Scoring</a>
    </dt>
    <dd>
        Search to see how well one panelist has scored against another panelist
        on a show-by-show basis.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.panelist_pvp_report') }}">Panelist vs Panelist</a>
    </dt>
    <dd>
        A break down of how well each panelist has performed against other
        panelists based on the ranking on each show.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.gender_stats') }}">Statistics by Gender</a>
    </dt>
    <dd>
        A break down of how well all panelists have done by gender and by year.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.losing_streaks') }}">Losing Streaks</a>
    </dt>
    <dd>
        A listing of the longest losing streak for each panelist.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.rankings_summary') }}">Rankings Summary</a>
    </dt>
    <dd>
        A break down of the ranking statistics for all panelists.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.single_appearance') }}">Single Appearance</a>
    </dt>
    <dd>
        A list of panelists that have made only one appearance on the show,
        excluding any Best Of and Repeat shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.stats_summary') }}">Statistics Summary</a>
    </dt>
    <dd>
        A break down of statistics for all panelists.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.win_streaks') }}">Win Streaks</a>
    </dt>
    <dd>
        A listing of the longest outright win streak and the longest win streak
        that includes both outright wins and draws for each panelist.
    </dd>
</dl>
