<dl>
    <dt>
        <a href="{{ url_for('panelists.aggregate_scores') }}">Aggregate Scores</a>
    </dt>
    <dd>
        This report provides information on general statistics for the aggregate
        of panelist total scores and a break down of the number of times a total
        score has occurred.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.appearances_by_year') }}">Appearances by Year</a>
    </dt>
    <dd>
        This report breaks down the number of times a panelist has appeared on a
        show for a given year. The counts excludes Best Of and Repeat shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.bluff_stats') }}">Bluff the Listener Statistics</a>
    </dt>
    <dd>
        This report provides a break down of the number of times each panelist has
        had their Bluff the Listener story chosen, had the correct story, and
        the number of appearances on both regular shows that had a Bluff the
        Listener segment and Best Of shows with unique Bluff the Listener segments.
    </dd>
    <dd>
        Please note that the data for Bluff the Listener is not complete as audio
        from shows aired in 1998 and 1999 are not publicly available. Thus,
        panelists that do not appear on this list do not have any Bluff the
        Listener information entered from those shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.debut_by_year') }}">Debut by Year</a>
    </dt>
    <dd>
        This report provides a break down of when panelists made their debut on
        the show, grouped by year.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.first_appearance_wins') }}">First Appearance Wins</a>
    </dt>
    <dd>
        This report provides a list of panelists that have won outright or were
        tied for first place on their first appearance on the show.
    </dd>
    <dd>
        Please note that the information in this report does not include
        information for panelists that had that won on their first appearance
        prior to January 2000. This is due to the lack of scoring information for
        those shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.first_most_recent_appearances') }}">First and Most Recent Appearances</a>
    </dt>
    <dd>
        This report provides a list of panelists and their first appearance and
        most recent appearance on the show, for both regular shows and all shows,
        including Best Ofs and repeats.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.losing_streaks') }}">Losing Streaks</a>
    </dt>
    <dd>
        This report provides a break down of the longest losing streak for each
        panelist. "All Losses" includes shows in which a panelist did not finish
        in first place or tied for first.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.panelist_pvp') }}">Panelist vs Panelist</a>
    </dt>
    <dd>
        This report allows you to lookup how well a panelist has faired
        against another panelist.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.panelist_pvp_all') }}">Panelist vs Panelist: All</a>
    </dt>
    <dd>
        This report compares on how well each all panelists have faired against other
        panelists based on their scores and ranking, broken down my panelist.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.panelist_pvp_scoring') }}">Panelist vs Panelist Scoring</a>
    </dt>
    <dd>
        A report that provides a way to lookup how well a panelist has scored against
        another panelist on a show-by-show basis.
    </dd>
    <dd>
        Scoring data is currently available for shows that aired in January
        2000 through current shows. Best Of, repeat and special shows, including
        the 20th anniversary show that aired on
        <a href="{{ stats_url }}/shows/2018/10/27">2018-10-27</a>, will not be
        included in the results.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.perfect_scores') }}">Perfect Score Counts</a>
    </dt>
    <dd>
        This report provides a count for how many times a panelist that has
        had a total score of 20 points, which Bill Kurtis calls a "perfect score",
        or higher. The counts exclude any scores from Best Of and repeat shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.rankings_summary') }}">Rankings Summary</a>
    </dt>
    <dd>
        This report provides statistics for the ranking of each panelist after
        each show.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.single_appearance') }}">Single Appearance</a>
    </dt>
    <dd>
        This report provides a list of panelists that have made only one
        appearance on the show, excluding any Best Of and Repeat shows.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.gender_stats') }}">Statistics by Gender</a>
    </dt>
    <dd>
        This report provides a break down of panelist statistics grouped by
        the gender that each panelist has identified themselves as.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.stats_summary') }}">Statistics Summary</a>
    </dt>
    <dd>
        This report provides a break down of scoring statistics for each
        panelist.
    </dd>

    <dt>
        <a href="{{ url_for('panelists.win_streaks') }}">Win Streaks</a>
    </dt>
    <dd>
        This report provides a break down of the longest winning streak for each
        panelist. "All Wins" includes shows in which a panelist did not finish
        in first place or tied for first.
    </dd>
</dl>
