{% extends "base.html" %}
{% set page_title = "Aggregate Scores" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A pair of tables containing aggregate panelist score statistics (including:
        count, minimum, maximum, mean, median, standard deviation, and total) and
        aggregate score spread.
    </p>
</div>

{% if stats %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <h3 class="mt-0">Aggregate Score Statistics</h3>
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="label">
                    <col class="stats float">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Statistic</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Count</td>
                        <td>{{ stats.count }}</td>
                    </tr>
                    <tr>
                        <td>Minimum</td>
                        <td>{{ "{:f}".format(stats.minimum.normalize()) }}</td>
                    </tr>
                    <tr>
                        <td>Maximum</td>
                        <td>{{ "{:f}".format(stats.maximum.normalize()) }}</td>
                    </tr>
                    <tr>
                        <td>Mean</td>
                        <td>{{ "{:f}".format(stats.mean.normalize()) }}</td>
                    </tr>
                    <tr>
                        <td>Median</td>
                        <td>{{ "{:f}".format(stats.median.normalize()) }}</td>
                    </tr>
                    <tr>
                        <td>Standard Deviation</td>
                        <td>{{ "{:f}".format(stats.standard_deviation.normalize()) }}</td>
                    </tr>
                    <tr>
                        <td>Sum</td>
                        <td>{{ "{:f}".format(stats.sum.normalize()) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>Aggregate Score Statistics</b> is currently unavailable.
</div>
{% endif %}

{% if stats and aggregate %}
<div class="row my-3"></div>
{% endif %}

{% if aggregate %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <h3 class="mt-0">Aggregate Score Spread</h3>
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="label">
                    <col class="stats float">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in aggregate %}
                    <tr>
                        <td>{{ "{:f}".format(score.score.normalize()) }}</td>
                        <td>{{ score.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>Aggregate Score Spread</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
