{% extends "base.html" %}
{% set page_title = "Appearances by Year" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a list of appearances for a given panelist and
        a given year.
    </p>
    <p>
        <b>Note:</b> The previous form of this report is now available as
        "<a href="{{ url_for('panelists.appearance_counts_by_year_grid') }}">Appearance Counts by Year: Grid</a>".
    </p>
</div>

<div class="card report-form mb-5">
    <div class="card-header">
        Select a panelist and year to view their appearances.
    </div>
    <div class="card-body">
        <form method="post" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-6">
                <label for="panelist" class="visually-hidden">Panelist</label>
                <select id="panelist" name="panelist" class="form-select" aria-label="Panelist selection">
                    <option value="">-- Select a Panelist --</option>
                    {% for panelist in panelists %}
                    {% if request.form.panelist == panelist.slug %}
                    <option value="{{ panelist.slug }}" selected>{{ panelist.name }}</option>
                    {% else %}
                    <option value="{{ panelist.slug }}">{{ panelist.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="year" class="visually-hidden">Year</label>
                <select id="year" name="year" class="form-select" aria-label="Year selection">
                    <option value="">-- Select a Year --</option>
                    {% for _year in years %}
                    {% if request.form.year and request.form.year | int == _year %}
                    <option value="{{ _year }}" selected>{{ _year }}</option>
                    {% else %}
                    <option value="{{ _year }}">{{ _year }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% if request.method == "POST" %}
{% if request.form.panelist and request.form.year and appearances %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <h3 class="mt-0">{{ panelist_info.name }}</h3>
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="date">
                    <col class="boolean">
                    <col class="date">
                    <col class="name panelist">
                    <col class="name venue">
                    <col class="name host">
                    <col class="name scorekeeper">
                    <col class="name panelist">
                    <col class="name guest">
                    
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Best Of</th>
                        <th scope="col">Repeat Of</th>
                        <th scope="col">Scoring</th>
                        <th scope="col">Location</th>
                        <th scope="col">Host</th>
                        <th scope="col">Scorekeeper</th>
                        <th scope="col">Other Panelists</th>
                        <th scope="col">Guest</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in appearances %}
                    <tr>
                        <td><a href="{{ stats_url }}/shows/{{ show.date | replace('-', '/') }}">{{ show.date }}</a></td>
                        {% if show.best_of %}
                        <td>{{ show.best_of }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.repeat and show.original_show_date is not none %}
                        <td><a href="{{ stats_url }}/shows/{{ show.original_show_date | replace('-', '/') }}">{{ show.original_show_date }}</a></td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if use_decimal_scores %}
                        {% if show.scoring.start_decimal is not none and show.scoring.correct_decimal is not none and show.scoring.score_decimal is not none %}
                        <td>
                            {% if show.scoring.rank is not none %}<b>{{ rank_map[show.scoring.rank ]}}</b>:{% endif %}
                            {{ "{:f}".format(show.scoring.score_decimal.normalize()) }}
                            ({{ "{:f}".format(show.scoring.start_decimal.normalize()) }} / {{ "{:f}".format(show.scoring.correct_decimal.normalize()) }})
                        </td>
                        {% elif show.scoring.score_decimal is not none %}
                        <td>{% if show.scoring.rank %}<b>{{ rank_map[show.scoring.rank ]}}</b>:{% endif %} {{ "{:f}".format(show.scoring.score_decimal.normalize()) }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% else %}
                        {% if show.scoring.start is not none and show.scoring.correct is not none and show.score is not none %}
                        <td>
                            {% if show.scoring.rank is not none %}<b>{{ rank_map[show.scoring.rank ]}}</b>:{% endif %}
                            {{ show.scoring.score }} ( {{ show.scoring.start }} / {{ show.scoring.correct }})
                        </td>
                        {% elif show.scoring.score is not none %}
                        <td>{% if show.scoring.rank %}<b>{{ rank_map[show.scoring.rank ]}}</b>:{% endif %} {{ show.scoring.score }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% endif %}
                        {% if show.location.venue and show.location.city and show.location.city %}
                        <td>{{ show.location.venue }} ({{ show.location.city }}, {{ show.location.state }})</td>
                        {% elif show.location.venue and (not show.location.city or not show.location.state) %}
                        <td>{{ show.location.venue }}</td>
                        {% elif show.location.city %}
                        <td>{{ show.location.city }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.host %}
                        <td>{{ show.host.name }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.scorekeeper %}
                        <td>{{ show.scorekeeper.name }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.other_panelists %}
                        <td class="panelist-names">
                            <ul class="no-bullets">
                                {% for other_panelist in show.other_panelists %}
                                <li>{{ other_panelist.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if show.guests %}
                        <td class="guest-names">
                            <ul class="no-bullets">
                                {% for guest in show.guests %}
                                <li>{{ guest.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% elif request.form.panelist and request.form.year and not appearances %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ panelist_info.name }}</b> from <b>{{ request.form.year }}</b> is currently unavailable.
{% elif not request.form.panelist %}
<div class="alert alert-warning my-5" role="alert">
    <i class="bi bi-exclamation-triangle pe-1"></i> No panelist was selected.
</div>
{% elif not request.form.year %}
<div class="alert alert-warning my-5" role="alert">
    <i class="bi bi-exclamation-triangle pe-1"></i> No year was selected.
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ panelist_info.name }}</b> is currently unavailable.
</div>
{% endif %}
{% endif %}

{% endblock content %}
