{% extends "base.html" %}
{% block title %}Average Scores by Year: All | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">Average Scores by Year: All</li>
    </ol>
</nav>

<h2>Average Scores by Year: All</h2>
<p>
    This report breaks down the average scores for all panelists, broken out
    by year. The averages excludes scores from Best Of and Repeat shows; in
    addition to, scores from the <a href="{{ stats_url }}/shows/2018/10/27">2018-10-27</a>
    show are also excluded, due to the unique scoring used.
</p>

{% if average_scores and years %}
<!-- Start Report Section -->
<div class="w-100 overflow-y-scroll py-3">
<table class="table table-bordered table-hover report">
    <colgroup>
        <col class="name panelist">
        {% for col in range((years|length + 1)) %}
            <col class="stats float">
        {% endfor %}
    </colgroup>
    <thead class="table-light">
        <tr>
            <th scope="col">Panelist</th>
            {% for year in years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for panelist in average_scores %}
        <tr>
            <td class="name panelist">
                <a href="{{ stats_url }}/panelists/{{ panelist.slug }}">
                    {{ panelist.name }}
                </a>
            </td>
            {% for year in years %}
                {% if year in panelist.averages and panelist.averages[year] > 0%}
            <td class="centered middle stats float" title="{{ panelist.name }}: {{ year }}">
                {{ "{:f}".format(panelist.averages[year].normalize()) if use_decimal_scores else panelist.averages[year] }}
            </td>
                {% else %}
            <td class="no-data stats float">-</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="table-light">
        <tr>
            <th scope="col">Panelist</th>
            {% for year in years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
<!-- End Report Section -->
{% else %}
<p>No data available.</p>
{% endif %}

{% endblock content %}

{#
{% extends "base.html" %}
{% block title %}Average Scores by Year: All | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Average Scores by Year: All</h2>
<p>
    This report breaks down the average scores for all panelists, broken out
    by year. The averages excludes scores from Best Of and Repeat shows; in
    addition to, scores from the <a href="{{ stats_url }}/shows/2018/10/27">2018-10-27</a>
    show are also excluded, due to the unique scoring used.
</p>
{% endblock synopsis %}

{% block content %}
{% if average_scores and years %}
<!-- Start Report Section -->
<div id="average-scores-by-year-all">
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name panelist">
        {% for col in range((years|length + 1)) %}
            <col class="stats float">
        {% endfor %}
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Panelist</th>
            {% for year in years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for panelist in average_scores %}
        <tr>
            <td class="name panelist">
                <a href="{{ stats_url }}/panelists/{{ panelist.slug }}">
                    {{ panelist.name }}
                </a>
            </td>
            {% for year in years %}
                {% if year in panelist.averages and panelist.averages[year] > 0%}
            <td class="centered middle stats float" title="{{ panelist.name }}: {{ year }}">
                {{ "{:f}".format(panelist.averages[year].normalize()) if use_decimal_scores else panelist.averages[year] }}
            </td>
                {% else %}
            <td class="no-data stats float">-</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Panelist</th>
            {% for year in years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
<!-- End Report Section -->
{% else %}
<p>No data available.</p>
{% endif %}
{% endblock content %}
#}
