{% extends "base.html" %}
{% set page_title = "Average Scores by Year: All" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A table displaying each panelist as rows and average scores for each year as
        columns.
    </p>
    <p>
        Scores from Best Of and repeat shows are not included when calculating the
        average. Additionally, panelist scores from the 29th anniversary show that aired
        on
        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a> show are also
        excluded, due to the unique Lightning Fill-in-the-Blank format.
    </p>
</div>

{% if average_scores and years %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle report">
                <colgroup>
                    <col class="name panelist">
                    {% for col in range((years | length + 1)) %}
                    <col class="stats float">
                    {% endfor %}
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Panelist</th>
                        {% for year in years %}
                        <th scope="col">{{ year }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for panelist in average_scores %}
                    <tr>
                        <td class="name panelist"><a href="{{ stats_url }}/panelists/{{ panelist.slug }}">{{ panelist.name }}</a></td>
                        {% for year in years %}
                            {% if year in panelist.averages and panelist.averages[year] > 0 %}
                        <td class="centered middle stats float" title="{{ panelist.name }}: {{ year }}">{{ "{:f}".format(panelist.averages[year].normalize()) }}</td>
                            {% else %}
                        <td class="no-data stats float">-</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Panelist</th>
                        {% for year in years %}
                        <th scope="col">{{ year }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
