{% extends "base.html" %}
{% block title %}Average Scores by Year | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Average Scores by Year</h2>
<p>
    This report breaks down the average scores for a given panelist, broken out
    by year. The averages excludes scores from Best Of and Repeat shows; in
    addition to, scores from the <a href="{{ stats_url }}/shows/2018/10/27">2018-10-27</a>
    show are also excluded, due to the unique scoring used.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<form method="POST" class="pure-form">
    <fieldset>
        <legend>Select a panelist to view average scores by year:</legend>
        <div class="panelist-fields">
            <label for="panelist">Panelist:</label>
            <select id="panelist" name="panelist">
                <option value="">-- Please choose a panelist --</option>
                {% for panelist in all_panelists %}
                {% if request.form.panelist == all_panelists[panelist].slug %}
                <option value="{{ all_panelists[panelist].slug }}" selected>{{ all_panelists[panelist].name }}</option>
                {% else %}
                <option value="{{ all_panelists[panelist].slug }}">{{ all_panelists[panelist].name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="panelist-options">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

{% if request.method == "POST" %}
<hr>
{% if not average_scores %}
<p class="result-message">Incorrect or no panelist selected.</p>
{% else %}
<section class="pvp">
<h3>{{ panelist_info.name }}</h3>
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date year">
        <col class="stats float">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Average</th>
        </tr>
    </thead>
    <tbody>
    {% for year in average_scores.averages %}
        <tr>
            <td>{{ year }}</td>
            {% if average_scores.averages[year] %}
            <td>{{ "{:f}".format(average_scores.averages[year].normalize()) if use_decimal_scores else average_scores.averages[year] }}</td>
            {% else %}
            <td class="no-data stats float">-</td>
            {% endif %}
        </tr>
    {% endfor%}
    </tbody>
</table>
</section>
{% endif %}
{% endif %}
<!-- End Report Section -->
{% endblock content %}
