{% extends "base.html" %}
{% set page_title = "Debut by Year" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-3">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a break down of when panelists made their debut on
        the show, grouped by year.
    </p>

    {% if years and debuts %}
    <ul id="year-list">
        {% for year in years %}
        <li><a href="#y{{ year }}">{{ year }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% if years and debuts %}
{% for year in years %}
<span id="y{{ year }}" class="invisible"></span>
<div class="pt-4 pb-4">
    <h3>{{ year }}</h3>
    
    {% if debuts[year] %}
<!-- Start Report Section -->
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <p>
                    <strong>Panelist debuts:</strong> {{ debuts[year]|length }}
                </p>

                <table class="table table-bordered table-hover caption-top report">
                    <colgroup>
                        <col class="date">
                        <col class="boolean">
                        <col class="name panelist">
                        <col class="count">
                        <col class="name host">
                        <col class="name scorekeeper">
                        <col class="name guest">
                    </colgroup>
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Show</th>
                            <th scope="col">Best Of</th>
                            <th scope="col">Panelist</th>
                            <th scope="col"># of Regular Appearances</th>
                            <th scope="col">Host</th>
                            <th scope="col">Scorekeeper</th>
                            <th scope="col">Guest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for debut in debuts[year] %}
                        <tr>
                            <td><a href="{{ stats_url }}/shows/{{ debut.show|replace('-', '/') }}">{{ debut.show }}</a></td>
                            {% if debut.best_of %}
                            <td>Best Of</td>
                            {% else %}
                            <td class="no-data">-</td>
                            {% endif %}
                            <td><a href="{{ stats_url }}/panelists/{{ debut.panelist_slug }}">{{ debut.panelist_name }}</a></td>
                            <td>{{ debut.regular_appearances }}</td>
                            <td>{{ debut.host }}</td>
                            <td>{{ debut.scorekeeper }}</td>
                            {% if debut.guests %}
                            <td class="guest-names">
                                <ul class="no-bullets">
                                {% for guest in debut.guests %}
                                <li>{{ guest }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            {% else %}
                            <td class="no-data">-</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="top-link">
                    <a href="#main-content">&uarr; Top</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info my-3" role="alert">
        <i class="bi bi-info-circle pe-1"></i> No panelists made their debut in {{ year }}.
    </div>
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}
<!-- End Report Section -->

{% endblock content %}

{#
{% extends "base.html" %}
{% block title %}Debut by Year | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2 id="top">Debut by Year</h2>
<p>
    This report provides a break down of when panelists made their debut on
    the show, grouped by year.
</p>
{% endblock synopsis %}

{% block content %}
<div class="pure-g">

<div class="pure-u-1-8 debut-year-list">
{% if years and debuts %}
<h3 class="years-list-header">Years</h3>

<ul class="no-bullets">
    {% for year in years %}
    <li><a href="#y{{ year }}">{{ year }}</a></li>
    {% endfor %}
</ul>
</div>

<div class="pure-u-7-8 pure-md-1">
    {% for year in years %}
<h3 id="y{{ year }}">{{ year }}</h3>
        {% if debuts[year] %}
<p>
    <b>Panelist debuts:</b> {{ debuts[year]|length }}
</p>

<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="boolean">
        <col class="name panelist">
        <col class="count">
        <col class="name host">
        <col class="name scorekeeper">
        <col class="name guest">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Show</th>
            <th scope="col">Best Of</th>
            <th scope="col">Panelist</th>
            <th scope="col"># of Regular Appearances</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Guest</th>
        </tr>
    </thead>
    <tbody>
        {% for debut in debuts[year] %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ debut.show|replace('-', '/') }}">{{ debut.show }}</a></td>
            {% if debut.best_of %}
            <td>Best Of</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            <td><a href="{{ stats_url }}/panelists/{{ debut.panelist_slug }}">{{ debut.panelist_name }}</a></td>
            <td>{{ debut.regular_appearances }}</td>
            <td>{{ debut.host }}</td>
            <td>{{ debut.scorekeeper }}</td>
            {% if debut.guests %}
            <td class="guest-names">
                <ul class="no-bullets">
                {% for guest in debut.guests %}
                <li>{{ guest }}</li>
                {% endfor %}
                </ul>
            </td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="top-link">
    <a href="#top">^ Top</a>
</div>
        {% else %}
<p>No panelists made their debut in {{ year }}.</p>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<!-- End Report Section -->
{% endblock content %}
#}
