{% extends "base.html" %}
{% block title %}First Appearance Wins | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>First Appearance Wins</h2>
<p>
    This report provides a list of panelists that have won outright or were
    tied for first place on their first appearance on the show.
</p>
<p>
    Please note that the information in this report does not include
    information for panelists that had that won on their first appearance
    prior to January 2000. This is due to the lack of scoring information for
    those shows.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name panelist">
        <col class="date">
        <col class="score">
        <col class="score">
        <col class="score">
        <col class="rank">
    </colgroup>
    <thead>
        <tr>
            <th>Panelist</th>
            <th>Show Date</th>
            <th>Start</th>
            <th>Correct</th>
            <th>Total Score</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in panelists %}
        {% set panelist_info =  panelists[panelist] %}
        <tr>
            <td><a href="{{ stats_url }}/panelists/{{ panelist }}">{{ panelist_info.name }}</a></td>
            <td><a href="{{ stats_url }}/shows/{{ panelist_info.show_date|replace('-', '/') }}">{{ panelist_info.show_date }}</a></td>
            <td>{{ panelist_info.start }}</td>
            <td>{{ panelist_info.correct }}</td>
            <td>{{ panelist_info.score }}</td>
            <td>{{ rank_map[panelist_info.rank] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->
{% endblock content %}
