{% extends "base.html" %}
{% set page_title = "First Wins" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A table displaying panelists with the show they got their first outright win, by
        finishing the Lightning Fill-in-the-Blank segment in first place, and
        their first overall win, which includes outright wins and finishing
        the segment tied for first.
    </p>
    <p>
        Panelists who have not won outright and have not finished tied for first
        will not be listed.
    </p>
</div>

{% if panelists %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name panelist">
                    <col class="date">
                    <col class="score">
                    <col class="rank">
                    <col class="date">
                    <col class="score">
                    <col class="rank">
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan="2">Panelist</th>
                        <th colspan="3">Outright Win</th>
                        <th colspan="3">Overall Win</th>
                    </tr>
                    <tr>
                        <th>Show Date</th>
                        <th>Total Score</th>
                        <th>Rank</th>
                        <th>Show Date</th>
                        <th>Total Score</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panelist in panelists %}
                    {% set _panelist = panelists[panelist] %}
                    {% if _panelist.first_win or _panelist.first_overall_win %}
                    <tr>
                        <td><a href="{{ stats_url }}/panelists/{{ _panelist.slug }}">{{ _panelist.name }}</a></td>
                        {% if _panelist.first_win %}
                        <td><a href="{{ stats_url }}/shows/{{ _panelist.first_win.show_date | replace('-', '/') }}">{{ _panelist.first_win.show_date }}</a></td>
                            {% if _panelist.first_win.score != None %}
                        <td>{{ "{:f}".format(_panelist.first_win.score.normalize()) }}</td>
                            {% else %}
                        <td class="no-data">-</td>
                            {% endif %}
                            {% if _panelist.first_win.rank != None %}
                        <td>{{ rank_map[_panelist.first_win.rank] }}</td>
                            {% else %}
                        <td class="no-data">-</td>
                            {% endif %}
                        {% else %}
                        <td colspan="3" class="no-data text-center">-</td>
                        {% endif %}
                        {% if _panelist.first_overall_win %}
                        <td><a href="{{ stats_url }}/shows/{{ _panelist.first_overall_win.show_date | replace('-', '/') }}">{{ _panelist.first_overall_win.show_date }}</a></td>
                            {% if _panelist.first_overall_win.score != None %}
                        <td>{{ "{:f}".format(_panelist.first_overall_win.score.normalize()) }}</td>
                            {% else %}
                        <td class="no-data">-</td>
                            {% endif %}
                            {% if _panelist.first_overall_win.rank != None %}
                        <td>{{ rank_map[_panelist.first_overall_win.rank] }}</td>
                            {% else %}
                        <td class="no-data">-</td>
                            {% endif %}
                        {% else %}
                        <td colspan="3" class="no-data text-center">-</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
