{% extends "base.html" %}
{% block title %}Statistics by Gender | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Statistics by Gender</h2>
<p>
    This report provides a break down of panelist statistics by gender.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Gender Statistics Breakdown Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date year">
        <col class="stats int">
        <col class="stats int">
        <col class="stats float">
        <col class="stats int">
        <col class="stats float">
        <col class="count">
        <col class="stats int">
        <col class="stats int">
        <col class="stats int">
        <col class="stats float">
        <col class="stats int">
        <col class="stats float">
        <col class="count">
        <col class="stats int">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" rowspan="2">Year</th>
            <th colspan="7">Men</th>
            <th colspan="7">Women</th>
        </tr>
        <tr>
            <!-- Men -->
            <th scope="col">Min</th>
            <th scope="col">Max</th>
            <th scope="col">Mean</th>
            <th scope="col">Median</th>
            <th scope="col">Std Dev</th>
            <th scope="col">Count</th>
            <th scope="col">Sum</th>
            <!-- Women -->
            <th scope="col">Min</th>
            <th scope="col">Max</th>
            <th scope="col">Mean</th>
            <th scope="col">Median</th>
            <th scope="col">Std Dev</th>
            <th scope="col">Count</th>
            <th scope="col">Sum</th>
        </tr>
    </thead>
    <tbody>
        {% for year in gender_stats %}
        <tr>
            <td>{{ year }}</td>
            {% if gender_stats[year]["M"] %}
            <td>{{ gender_stats[year]["M"]["minimum"] }}</td>
            <td>{{ gender_stats[year]["M"]["maximum"] }}</td>
            <td>{{ gender_stats[year]["M"]["mean"] }}</td>
            <td>{{ gender_stats[year]["M"]["median"] }}</td>
            <td>{{ gender_stats[year]["M"]["standard_deviation"] }}</td>
            <td>{{ gender_stats[year]["M"]["count"] }}</td>
            <td>{{ gender_stats[year]["M"]["total"] }}</td>
            {% else %}
            <td class="no-data" colspan="7">&nbsp;</td>
            {% endif %}

            {% if gender_stats[year]["F"] %}
            <td>{{ gender_stats[year]["F"]["minimum"] }}</td>
            <td>{{ gender_stats[year]["F"]["maximum"] }}</td>
            <td>{{ gender_stats[year]["F"]["mean"] }}</td>
            <td>{{ gender_stats[year]["F"]["median"] }}</td>
            <td>{{ gender_stats[year]["F"]["standard_deviation"] }}</td>
            <td>{{ gender_stats[year]["F"]["count"] }}</td>
            <td>{{ gender_stats[year]["F"]["total"] }}</td>
            {% else %}
            <td class="no-data" colspan="7">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Gender Statistics Breakdown Section -->
{% endblock content %}
