{% extends "base.html" %}
{% set page_title = "Highest Average Correct Answers by Year" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a list of the panelists with the highest average
        correct answers for a given year.
    </p>
    <p>
        Scoring information excludes Best Of and repeat shows.
    </p>
</div>

<div class="card report-form mb-5">
    <div class="card-header">
        Select a year to view panelist average correct answers.
    </div>
    <div class="card-body">
        <form method="post" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-auto">
                <label for="year" class="visually-hidden">Year</label>
                <select id="year" name="year" class="form-select" aria-label="Year selection">
                    <option value="">-- Select a Year --</option>
                    {% for _year in show_years %}
                    {% if request.form.year and request.form.year | int == _year %}
                    <option value="{{ _year }}" selected>{{ _year }}</option>
                    {% else %}
                    <option value="{{ _year }}">{{ _year }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <label for="exclude_single">Exclude Single Appearances</label>
                    {% if request.form.exclude_single %}
                    <input class="form-check-input" type="checkbox" id="exclude_single" name="exclude_single" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="exclude_single" name="exclude_single">
                    {% endif %}
                </div>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% if request.method == "POST" %}
{% if year and score_stats %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <h3 class="mt-0">{{ year }}</h3>
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name panelist">
                    <col class="count long">
                    <col class="count long">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Panelist</th>
                        <th scope="col">Average Correct Answers</th>
                        <th scope="col"># of Appearances</th>
                    </tr>
                </thead>
                <tbody>

                    {% for panelist in score_stats %}
                    <tr>
                        <td><a href="{{ stats_url }}/panelists/{{ score_stats[panelist].slug }}">{{ score_stats[panelist].name }}</td>
                        {% if score_stats[panelist].average_correct is not none %}
                        <td>{{ score_stats[panelist].average_correct }}</td>
                        {% else %}
                        <td class="no-data count float">-</td>
                        {% endif %}
                        {% if score_stats[panelist].appearances is not none %}
                        <td>{{ score_stats[panelist].appearances }}</td>
                        {% else %}
                        <td class="no-data count float">-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% elif not request.form.year %}
<div class="alert alert-warning my-5" role="alert">
    <i class="bi bi-exclamation-triangle pe-1"></i> No year was selected.
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ year }}</b> is currently unavailable.
</div>
{% endif %}
{% endif %}

{% endblock content %}
