{% extends "base.html" %}
{% block title %}All | Panelist vs Panelist | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2 id="top">Panelist vs Panelist: All</h2>
<p>
    This report that provides details on how well all panelists has faired
    against other panelists.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<div class="pure-g">

<div class="pure-u-1-5 pvp-panelist-list">
<h3 class="pvp-list-header">Panelists</h3>

<ul class="no-bullets">
{% for panelist in panelists %}
    <li><a href="#pvp-{{ panelists[panelist].slug }}">{{ panelists[panelist].name }}</a></li>
{% endfor %}
</ul>
</div>

<div class="pure-u-4-5 pure-md-1">
{% for panelist, vs_panelists in results.items() %}
<section class="pvp">
<h3 id="pvp-{{ panelists[panelist].slug }}">{{ panelists[panelist].name }}</h3>
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name panelist">
        <col class="count mix">
        <col class="count mix">
        <col class="count mix">
        <col class="count mix">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Ranked vs</th>
            <th scope="col">Higher</th>
            <th scope="col">Tied</th>
            <th scope="col">Lower</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
    {% for vs_panelist, result in vs_panelists.items() %}
        {% if (result.wins, result.draws, result.losses) != (0, 0, 0) %}
        <tr>
            <td><a href="{{ stats_url }}/panelists/{{ panelists[vs_panelist].slug }}">{{ panelists[vs_panelist].name }}</a></td>
            <td>{{ result.wins }}</td>
            <td>{{ result.draws }}</td>
            <td>{{ result.losses }}</td>
            <td>{{ result.total }}</td>
        </tr>
        {% endif %}
    {% endfor%}
    </tbody>
</table>

<div class="top-link">
    <a href="#top">^ Top</a>
</div>
</section>
{% endfor %}

</div>
<!-- End Report Section -->
{% endblock content %}
