{% extends "base.html" %}
{% block title %}Single Appearance | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Single Appearance</h2>
<p>
    This report lists out the panelists that have made only one appearance
    on the show, excluding any Best Of and Repeat shows.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Panelist Single Appearance Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name panelist">
        <col class="date">
        <col class="score long">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Panelist</th>
            <th scope="col">Show Date</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in panelists_appearance %}
        <tr>
            <td><a href="{{ stats_url }}/panelists/{{ panelist.slug }}">
                {{ panelist.name }}</a></td>
            <td><a href="{{ stats_url }}/shows/{{ panelist.appearance|replace('-', '/') }}">
                {{ panelist.appearance }}</a></td>
            {% if panelist.score and panelist.rank %}
            <td>{{ panelist.score }} ({{ rank_map[panelist.rank] }})</td>
            {% elif panelist.score %}
            <td>{{ panelist.score }}</td>
            {% else %}
            <td class="no-data">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Panelist</th>
            <th scope="col">Show Date</th>
            <th scope="col">Score</th>
        </tr>
    </tfoot>
</table>
<!-- End Panelist Single Appearance Section -->
{% endblock content %}
