{% extends "base.html" %}
{% set page_title = "Statistics Summary" %}
{% block title %}Statistics Summary | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        This report provides a break down of scoring statistics for each
        panelist.
    </p>
</div>

{% if panelists_stats %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name">
                    <col class="count">
                    <col class="count">
                    <col class="count">
                    <col class="score">
                    <col class="score">
                    <col class="stats float">
                    <col class="stats">
                    <col class="stats float">
                    <col class="stats int">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">Panelist</th>
                        <th colspan="3">Appearances</th>
                        <th colspan="6">Scoring</th>
                    </tr>
                    <tr>
                        <th scope="col">Regular</th>
                        <th scope="col">All</th>
                        <th scope="col">With Scores</th>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col stats float">Mean</th>
                        <th scope="col stats float">Median</th>
                        <th scope="col stats float">Std Dev</th>
                        <th scope="col">Sum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panelist in panelists_stats %}
                    <tr>
                        <td><a href="{{ stats_url }}/panelists/{{ panelist }}">{{ panelists[panelist] }}</a></td>
                        {% if panelists_stats[panelist]["appearances"] %}
                        <td>{{ panelists_stats[panelist]["appearances"]["regular"] }}</td>
                        <td>{{ panelists_stats[panelist]["appearances"]["all"] }}</td>
                        <td>{{ panelists_stats[panelist]["appearances"]["with_scores"] }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        {% endif %}

                        {% if panelists_stats[panelist]["stats"] %}
                        {% if use_decimal_scores %}
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["minimum"].normalize()) }}</td>
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["maximum"].normalize()) }}</td>
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["mean"].normalize()) }}</td>
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["median"].normalize()) }}</td>
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["standard_deviation"].normalize()) }}</td>
                        <td>{{ "{:f}".format(panelists_stats[panelist]["stats"]["total"].normalize()) }}</td>
                        {% else %}
                        <td>{{ panelists_stats[panelist]["stats"]["minimum"] }}</td>
                        <td>{{ panelists_stats[panelist]["stats"]["maximum"] }}</td>
                        <td>{{ panelists_stats[panelist]["stats"]["mean"] }}</td>
                        <td>{{ panelists_stats[panelist]["stats"]["median"] }}</td>
                        <td>{{ panelists_stats[panelist]["stats"]["standard_deviation"] }}</td>
                        <td>{{ panelists_stats[panelist]["stats"]["total"] }}</td>
                        {% endif %}
                        {% else %}
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        <td class="no-data">-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col" rowspan="2">Panelist</th>
                        <th colspan="3">Appearances</th>
                        <th colspan="6">Scoring</th>
                    </tr>
                    <tr>
                        <th scope="col">Regular</th>
                        <th scope="col">All</th>
                        <th scope="col">With Scores</th>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col">Mean</th>
                        <th scope="col">Median</th>
                        <th scope="col">Std Dev</th>
                        <th scope="col">Sum</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
