{% extends "base.html" %}
{% block title %}Win Streaks | Panelists{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Win Streaks</h2>
<p>
    Listing of the longest outright win streak and the longest win streak that
    includes both outright wins and draws for each panelist.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name">
        <col class="stats int">
        <col class="count">
        <col class="date">
        <col class="count">
        <col class="count">
        <col class="date long">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" rowspan="2">Panelist</th>
            <th colspan="3">Outright Wins</th>
            <th colspan="3">Wins with Draws</th>
        </tr>
        <tr>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in win_streaks %}
        <tr>
            <td>
                <a href="{{ stats_url }}/panelists/{{ panelist.slug }}">
                    {{ panelist.name }}
                </a>
            </td>
            <td>{{ panelist.total_wins }}</td>
            <td>{{ panelist.longest_streak }}</td>
            {% if not panelist.longest_streak_dates %}
            <td class="no-data">-</td>
            {% else %}
            <td class="show-dates">
                <ul class="no-bullets">
                {% for show in panelist.longest_streak_dates %}
                <li>{{ show.show_date }}</li>
                {% endfor %}
                </ul>
            </td>
            {% endif %}
            <td>{{ panelist.total_wins_with_draws }}</td>
            <td>{{ panelist.longest_streak_with_draws }}</td>
            {% if not panelist.longest_streak_with_draws_dates %}
            <td class="no-data">-</td>
            {% else %}
            <td class="show-dates">
                <ul class="no-bullets">
                {% for show in panelist.longest_streak_with_draws_dates %}
                <li>{{ show.show_date }} ({{ rank_map[show.show_rank] }})</li>
                {% endfor %}
                </ul>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" rowspan="2">Panelist</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
        </tr>
        <tr>
            <th colspan="3">Outright Wins</th>
            <th colspan="3">Wins with Draws</th>
        </tr>
    </tfoot>
</table>
<!-- Start Report Section -->
{% endblock content %}
