{% extends "base.html" %}
{% block title %}Scorekeepers{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Scorekeepers</li>
    </ol>
</nav>

<h2>Scorekeepers</h2>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('scorekeepers.appearance_summary') }}">Appearance Summary</a>
                </h3>

                <div class="description">
                    This report provides a list of scorekeepers along with the number of
                    appearances, their first and most recent appearance, for both regular and
                    for all shows (including Best Of and repeat shows).
                </div>
            </li>

            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('scorekeepers.introductions') }}">Introductions</a>
                </h3>

                <div class="description">
                    This report provides a list of introductions that Bill Kurtis and other
                    scorekeepers have used at the start of each show.
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
