<dl>
    <dt>
        <a href="{{ url_for('scorekeepers.appearance_summary') }}">Appearance Summary</a>
    </dt>
    <dd>
        This report provides a list of scorekeepers along with the number of
        appearances, their first and most recent appearance, for both regular and
        for all shows (including Best Of and repeat shows).
    </dd>

    <dt>
        <a href="{{ url_for('scorekeepers.introductions') }}">Introductions</a>
    </dt>
    <dd>
        This report provides a list of introductions that Bill Kurtis and other
        scorekeepers have used at the start of each show.
    </dd>
</dl>
