<dl>
    <dt>
        <a href="{{ url_for('scorekeeper_appearance_summary') }}">Appearance Summary</a>
    </dt>
    <dd>
        A report providing a list of appearance counts and the first and most
        recent appearances, for both regular and all shows, for each scorekeeper.
    </dd>

    <dt>
        <a href="{{ url_for('scorekeeper_introductions') }}">Introductions</a>
    </dt>
    <dd>
        A listing of all of the introductions that Bill Kurtis and other
        scorekeepers have used when introducing themselves at the start of each show.
    </dd>
</dl>
