{% extends "base.html" %}
{% block title %}Introductions | Scorekeepers{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('scorekeepers.index') }}">Scorekeepers</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Introductions</h2>
<p>
    Listing of all of the introductions that Bill Kurtis and other scorekeepers
    have used when introducing themselves at the start of each show.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<h3>Scorekeepers</h3>
<ul>
{% for scorekeeper in scorekeepers %}
    <li><a href="#{{ scorekeeper.slug }}">{{ scorekeeper.name }}</a></li>
{% endfor %}
</ul>

{% for scorekeeper in scorekeepers %}
<h3 id="{{ scorekeeper.slug }}">{{ scorekeeper.name }}</h3>
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="date">
        <col class="boolean">
        <col class="boolean">
        <col class="introduction">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Best Of</th>
            <th scope="col">Repeat</th>
            <th scope="col">Introduction</th>
        </tr>
    </thead>
    <tbody>
        {% for show in introductions[scorekeeper.id] %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            <td>{{ show.best_of }}</td>
            <td>{{ show.repeat_show }}</td>
            <td>{{ show.introduction }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Best Of</th>
            <th scope="col">Repeat</th>
            <th scope="col">Introduction</th>
        </tr>
    </tfoot>
</table>
{% endfor %}
<!-- End Report Section -->
{% endblock content %}
