{% extends "base.html" %}
{% set page_title = "Scorekeeper Introductions" %}
{% block title %}{{ page_title }} | Scorekeepers{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('scorekeepers.index') }}">Scorekeepers</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A table displaying scorekeepers with A table displaying introductions that they have used
        at the start of each show they appeared on.
    </p>
</div>

{% if scorekeepers %}
<div class="accordion" id="accordion">
    {% for scorekeeper in scorekeepers %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            {% if introductions[scorekeeper.id] %}
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-{{ scorekeeper.slug }}" aria-expanded="false" aria-controls="flush-collapse-{{ scorekeeper.slug }}">
                {{ scorekeeper.name }}
            </button>
            {% else %}
            <button disabled class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-{{ scorekeeper.slug }}" aria-expanded="false" aria-controls="flush-collapse-{{ scorekeeper.slug }}"
                aria-disabled="true">
                {{ scorekeeper.name }}
            </button>
            {% endif %}
        </h2>
        <div id="flush-collapse-{{ scorekeeper.slug }}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover report">
                        <colgroup>
                            <col class="date">
                            <col class="boolean">
                            <col class="date">
                            <col class="introduction">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">Show Date</th>
                                <th scope="col">Best Of</th>
                                <th scope="col">Repeat Of</th>
                                <th scope="col">Introduction</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for show in introductions[scorekeeper.id] %}
                            <tr>
                                <td><a href="{{ stats_url }}/shows/{{ show.date | replace('-', '/') }}">{{ show.date }}</a></td>
                                {% if show.best_of %}
                                <td>{{ show.best_of }}</td>
                                {% else %}
                                <td class="no-data">-</td>
                                {% endif %}
                                {% if show.repeat and show.original_show_date is not none %}
                                <td><a href="{{ stats_url }}/shows/{{ show.original_show_date | replace('-', '/') }}">{{ show.original_show_date }}</a></td>
                                {% else %}
                                <td class="no-data">-</td>
                                {% endif %}
                                <td>{{ show.introduction }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col">Show Date</th>
                                <th scope="col">Best Of</th>
                                <th scope="col">Repeat Of</th>
                                <th scope="col">Introduction</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
