{
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": 3306,
        "raise_on_warnings": true,
        "autocommit": true,
        "compress": false,
        "charset": "utf8mb4",
        "collation": "utf8mb4_unicode_ci"
    },

    "settings": {
        "api_url": "",
        "blog_url": "",
        "graphs_url": "",
        "repo_url": "https://github.com/questionlp/reports.wwdt.me",
        "site_url": "",
        "stats_url": "",
        "ga_property_code": null,
        "umami_analytics": {
            "enabled": false,
            "url": "",
            "data_website_id": "",
            "data_domains": "",
            "data_host_url": "",
            "data_auto_track": true
        },
        "time_zone": "UTC",
        "bluesky_url": "",
        "bluesky_user": "",
        "mastodon_url": "",
        "mastodon_user": "",
        "support_npr_url": "",
        "patreon_url": "",
        "github_sponsor_url": "",
        "use_minified_css": true,
        "panelists_double_initials": [
            "brian-babylon",
            "fortune-feimster",
            "helen-hong",
            "janelle-james",
            "keegan-michael-key",
            "paul-provenza",
            "paula-pell",
            "paula-poundstone",
            "richard-roeper",
            "roxanne-roberts"
        ]
    }
}
