{
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": 3306,
        "raise_on_warnings": true,
        "autocommit": true,
        "compress": false,
        "charset": "utf8mb4",
        "collation": "utf8mb4_unicode_ci"
    },

    "settings": {
        "api_url": "",
        "blog_url": "",
        "graphs_url": "",
        "repo_url": "https://github.com/questionlp/reports.wwdt.me_v2",
        "site_url": "",
        "stats_url": "",
        "ga_property_code": null,
        "time_zone": "UTC",
        "mastodon_url": "",
        "mastodon_user": "",
        "use_decimal_scores": false
    },

    "caching": {
        "CACHE_TYPE": "NullCache"
    }
}
