{% extends "base.html" %}
{% block title %}Not Found{% endblock %}

{% block content %}

<h2>Oops...</h2>

<p>We couldn't find what you were looking for.</p>

<p>Head back to the <a href="{{ url_for('main.index') }}"> main page</a>.</p>

{% endblock %}

{#
{% extends "base.html" %}
{% block title %}Not Found{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li>Not Found</li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block content %}
<section id="summary">
<h2>Not Found</h2>

<p>
    We couldn't find the content that you were looking for.
</p>

<p>
    Use the following links in the Site Navigation section below to view
    content available on this site.
</p>
</section>

<section id="toc">
<h2>Site Navigation</h2>
<ul>
    <li><a href="{{ url_for('main.index')}}">Home
        <ul>
            <li><a href="{{ url_for('guests.index') }}">Guests</a></li>
            <li><a href="{{ url_for('hosts.index') }}">Hosts</a></li>
            <li><a href="{{ url_for('locations.index') }}">Locations</a></li>
            <li><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
            <li><a href="{{ url_for('scorekeepers.index') }}">Scorekeepers</a></li>
            <li><a href="{{ url_for('shows.index') }}">Shows</a></li>
        </ul>
    </li>
</ul>
</section>

{% endblock content %}
#}
