{% extends "base.html" %}
{% block title %}Hosts{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Hosts</li>
    </ol>
</nav>

<h2>Hosts</h2>

<p>
    The following are the list of available reports based on data collected for
    show hosts.
</p>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('hosts.appearance_summary') }}">Appearance Summary</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a list of show hosts along with the number of
                        appearances, their first and most recent appearance, for both
                        regular and for all shows (including Best Of and Repeat shows).
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('hosts.appearance_counts_by_year' )}}">Appearance Counts by Year</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a list of hosts and the number of appearances
                        they have made each year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('hosts.appearance_counts_by_year_grid' )}}">Appearance Counts by Year: Grid</a>
                </h3>
                <div class="description">
                    <p>
                        This report breaks down the number of times a host has appeared on a
                        show for a given year as a grid.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('hosts.debuts_by_year') }}">Debuts by Year</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a break down of when hosts made their debut on
                        the show, grouped by year.
                    </p>
                </div>
            </li>
        </ul>
    </div>


</div>

{% endblock content %}
