{% extends "base.html" %}
{% block title %}Hosts{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Hosts</li>
    </ol>
</nav>

<h2>Hosts</h2>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('hosts.appearance_summary') }}">Appearance Summary</a>
                </h3>

                <div class="description">
                    This report provides a list of show hosts along with the number of
                    appearances, their first and most recent appearance, for both
                    regular and for all shows (including Best Of and repeat shows).
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
