{% extends "base.html" %}
{% block title %}Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Locations</li>
    </ol>
</nav>

<h2>Locations</h2>

<p>
    The following are the list of available reports based on data collected for
    show locations.
</p>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.average_scores_by_location') }}">
                        Average Scores by Location
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A list of recording locations with venue name, city, state, average panelist
                        score and average panelist total score, and a count shows recorded at the
                        location. The locations are sorted in descending order based on average scores.
                    </p>
                    <p>
                        Panelist scores from the 20th anniversary special show, that aired on
                        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>, are
                        omitted due to the unique Lightning Fill-in-the-Blank format used for
                        that show.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.home_vs_away') }}">
                        Home vs Away
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A list of the number of shows recorded at home (any venue or studio located in
                        Chicago, Illinois), away, and at home/remote studios, grouped by year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.recording_counts_by_year' )}}">
                        Recording Counts by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A collection of show location recording counts for regular, Best Of,
                        repeat Best Ofs, repeat and all shows grouped by year.
                    </p>
                    <p>
                        Regular show counts do not include Best Of or repeat shows. Counts for
                        both Best Of and repeat shows do not include repeat Best Of shows.
                        Counts for all shows should be the sum of regular, Best Of, repeat and
                        repeat Best Of show counts.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.recordings_by_year') }}">
                        Recordings by Year
                    </a>
                </h3>
                <div class="description">
                    <p>
                        A list of recordings including host, scorekeeper, panelists and Not My Job guest,
                        for a selected location grouped by year.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
