{% extends "base.html" %}
{% block title %}Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Locations</li>
    </ol>
</nav>

<h2>Locations</h2>

<p>
    The following are the list of available reports based on data collected for
    show locations.
</p>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.average_scores_by_location') }}">Average Scores by Location</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a list of show locations and the corresponding
                        average panelist score and average total score, in descending order.
                    </p>
                    <p>
                        One exception from the scoring is the 25th Anniversary Special, which
                        aired on <a href="{{ stats_url}}/shows/2018/10/27">October 27, 2018</a>.
                        The show's total score has been excluded due to the unique Lightning
                        Fill-in-the-Blank format.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.home_vs_away') }}">Home vs Away</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a count of shows recorded at home (any venue or studio
                        located in Chicago, Illinois), away and home/remote studios, broken down by
                        year.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('locations.recordings_by_year' )}}">Recordings by Year</a>
                </h3>
                <div class="description">
                    <p>
                        This report provides a list of locations where shows have recorded
                        for a given year.
                    </p>
                    <p>
                        Guest appearances include appearances on regular shows and
                        unique appearances only on Best Of shows.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
