<dl>
    <dt>
        <a href="{{ url_for('locations.average_scores') }}">Average Score by Location</a>
    </dt>
    <dd>
        This report provides a list of show locations and the corresponding
        average panelist score and average total score, in descending order.
    </dd>
    <dd>
        One exception from the scoring is that the 25th Anniversary Special, that
        aired on October 27, 2018, which is excluded due to the unique Lightning
        Fill-in-the-Blank format.
    </dd>
</dl>
