{% extends "base.html" %}
{% block title %}Average Scores | Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('locations.index') }}">Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">Average Scores</li>
    </ol>
</nav>

<h2>Average Score by Location</h2>
<p>
    This report provides a list of show locations and the corresponding
    average panelist score and average total score, in descending order.
</p>
<p>
    One exception from the scoring is that the 25th Anniversary Special, that
    aired on October 27, 2018, which is excluded due to the unique Lightning
    Fill-in-the-Blank format.
</p>

<!-- Start Report Section -->
<div class="table-responsive py-3">
<table class="table table-bordered table-hover report">
    <colgroup>
        <col class="name venue">
        <col class="name city">
        <col class="name state">
        <col class="stats float">
        <col class="stats float">
        <col class="dates">
    </colgroup>
    <thead class="table-light">
        <tr>
            <th scope="col">Venue</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Average Score</th>
            <th scope="col">Average Total</th>
            <th scope="col">Shows</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            {% if location.venue %}
            <td>{{ location.venue }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if location.city %}
            <td>{{ location.city }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if location.state %}
            <td>{{ location.state }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if use_decimal_scores %}
            <td>{{ "{:f}".format(location.average_score.normalize()) }}</td>
            <td>{{ "{:f}".format(location.average_total.normalize()) }}</td>
            <td>{{ location.show_count }}</td>
            {% else %}
            <td>{{ location.average_score }}</td>
            <td>{{ location.average_total }}</td>
            <td>{{ location.show_count }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->

{% endblock content %}

{#
{% extends "base.html" %}
{% block title %}Average Score by Location | Locations{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('locations.index') }}">Locations</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Average Score by Location</h2>
<p>
    This report provides a list of show locations and the corresponding
    average panelist score and average total score, in descending order.
</p>
<p>
    One exception from the scoring is that the 25th Anniversary Special, that
    aired on October 27, 2018, which is excluded due to the unique Lightning
    Fill-in-the-Blank format.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name venue">
        <col class="name city">
        <col class="name state">
        <col class="stats float">
        <col class="stats float">
        <col class="dates">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Venue</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Average Score</th>
            <th scope="col">Average Total</th>
            <th scope="col">Shows</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            {% if location.venue %}
            <td>{{ location.venue }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if location.city %}
            <td>{{ location.city }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if location.state %}
            <td>{{ location.state }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
            {% if use_decimal_scores %}
            <td>{{ "{:f}".format(location.average_score.normalize()) }}</td>
            <td>{{ "{:f}".format(location.average_total.normalize()) }}</td>
            <td>{{ location.show_count }}</td>
            {% else %}
            <td>{{ location.average_score }}</td>
            <td>{{ location.average_total }}</td>
            <td>{{ location.show_count }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Report Section -->
{% endblock content %}
#}
