{% extends "base.html" %}
{% set page_title = "Average Scores by Location" %}
{% block title %}{{ page_title }} | Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('locations.index') }}">Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A list of recording locations with venue name, city, state, average panelist
        score and average panelist total score, and a count shows recorded at the
        location. The locations are sorted in descending order based on average scores.
    </p>
    <p>
        Panelist scores from the 20th anniversary special show, that aired on
        <a href="{{ stats_url }}/shows/2018/10/27">October 27, 2018</a>, are
        omitted due to the unique Lightning Fill-in-the-Blank format used for
        that show.
    </p>
</div>

{% if locations %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name venue">
                    <col class="name city">
                    <col class="name state">
                    <col class="stats float">
                    <col class="stats float">
                    <col class="dates">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Venue</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Average Score</th>
                        <th scope="col">Average Total</th>
                        <th scope="col">Shows</th>
                    </tr>
                </thead>
                <tbody>
                    {% for location in locations %}
                    <tr>
                        {% if location.venue %}
                        <td><a href="{{ stats_url }}/locations/{{ location.slug }}">{{ location.venue }}</a></td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if location.city %}
                        <td>{{ location.city }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        {% if location.state %}
                        <td>{{ location.state }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                        <td>{{ "{:f}".format(location.average_score.normalize()) }}</td>
                        <td>{{ "{:f}".format(location.average_total.normalize()) }}</td>
                        <td>{{ location.show_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
