@media all {

    html, body, button, input, select, textarea, .pure-table caption,
    .pure-g [class *="pure-u"] {
        font-family: "IBM Plex Sans", sans-serif !important;
    }

    body {
        line-height: 1.5rem;
        margin: 1.5rem;
    }

    pre, code, div.pure-g pre, div.pure-g code {
        font-family: "IBM Plex Mono", monospace;
    }

    h1 {
        font-size: 180%;
        font-weight: 700;
    }

    h2 {
        font-size: 160%;
        font-weight: 700;
    }

    h3 {
        font-size: 140%;
        font-weight: 600;
    }

    h4 {
        font-size: 120%;
        font-weight: 600;
    }

    #breadcrumb {
        margin: 1.625rem 0;
        padding: 0;
    }

    #breadcrumb ul {
        list-style: none;
        padding: 0;
    }

    #breadcrumb ul li {
        display: inline;
        padding: 0;
    }

    #breadcrumb ul li:first-child {
        padding: 0;
    }

    #breadcrumb ul li:not(:last-child)::after {
        content: ">";
        margin: 0 0.25rem 0 0.5rem;
    }

    dl {
        margin-left: 0;
    }

    dt {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0.5rem 0;
    }

    dd {
        margin: 1rem;
    }

    footer {
        font-size: 92.5%;
        margin-top: 2.5rem;
    }

    div.sections {
        margin-top: 3rem;
    }

    div.sections section {
        border-bottom: 1px #aaa solid;
        margin: 1rem 0;
        padding-bottom: 1.25rem;
    }

    div.sections section#toc, div.sections section#summary {
        border: none;
        margin: 0;
    }

    div.sections h2 {
        margin: 2rem 0 1.5rem;
    }

    .pure-table caption {
        caption-side: bottom;
        font-size: 90%;
        margin-top: 0.5rem;
    }

    col.state {
        width: 4rem;
    }

    col.boolean, col.count, col.date.year, col.score, col.stats.int {
        width: 6rem;
    }

    col.count.mix, col.date, col.rank, col.stats.float {
        width: 8rem;
    }

    col.city, col.score.long {
        width: 10rem;
    }

    col.label, col.name.host, col.name.scorekeeper {
        width: 12rem;
    }

    col.date.long, col.name.panelist, col.name.guest {
        width: 16rem;
    }

    col.name.guest.long, col.name.venue {
        width: 20rem;
    }

    col.notes {
        width: 28rem;
    }

    col.introduction {
        width: 36rem;
    }

    form {
        border: 1px solid #666;
        padding: 0.75em;
    }

    section.pvp {
        margin: 0 0 2rem 0;
    }

    td.notes p {
        margin-block-start: 0;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    td.centered.middle {
        text-align: center;
        vertical-align: middle !important;
    }

    td.score-higher, td.score-lower, td.score-tied {
        text-align: center;
    }

    td.score-higher {
        background-color: rgba(245, 80, 0, 0.85);
        font-weight: 600;
    }

    td.score-lower {
        background-color: inherit;
    }

    table.pure-table {
        margin: 1.5rem 0;
    }

    table.pure-table td {
        vertical-align: top;
    }

    table.pure-table thead,
    table.pure-table tfoot {
        background-color: initial;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
    }

    ul.no-bullets {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    span.hover.tooltip {
        cursor: help;
    }

    #appearance-by-year, #average-scores-by-year-all {
        max-height: 80vh;
        overflow: scroll;
    }

    #appearance-by-year col.name.panelist,
    #appearance-by-year td.name.panelist,
    #average-scores-by-year-all col.name.panelist,
    #average-scores-by-year-all td.name.panelist {
        min-width: 7.5rem;
    }

    #average-scores-by-year-all col.stats.float,
    #average-scores-by-year-all td.stats.float {
        min-width: 4.5rem;
    }

    .pure-form fieldset {
        margin: 0;
        padding: 0;
    }

    .pure-form legend {
        font-weight: 600;
    }

    .panelist-fields label {
        padding-right: 0.5em;
    }

    .pure-form .panelist-fields {
        display: inline-block;
        margin: 0 0.75em 0 0;
        padding-bottom: 0.5em;
    }

    .pure-form .panelist-options {
        display: inline-block;
        margin: 0.5em 0 0 0.25em;
    }

    .panelist-options label {
        padding-right: 0.5em;
    }

    .panelist-options button {
        margin: 0 0.5em;
    }

    .pure-form .panelist-option {
        display: inline-block;
        margin: 0 1.5em 0 0;
    }

    .pure-form .panelist-button {
        display: inline-block;
    }

    .pure-form label {
        font-weight: 600;
    }

    .pure-form select {
        height: 2.5em;
    }
}

@media (prefers-color-scheme: dark) {
    html, .pure-table caption {
        background-color: #202124;
        caption-side: bottom;
        color: white !important;
    }

    a {
        color: #64b5f6 !important;
    }

    table.pure-table thead,
    table.pure-table tfoot {
        background-color: rgba(240, 240, 240, 0.3) !important;
        color: white;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
    }

    table.pure-table-bordered,
    table.pure-table-bordered thead,
    table.pure-table-bordered tbody,
    table.pure-table-bordered tfoot,
    table.pure-table-bordered th,
    table.pure-table-bordered td {
        border-color: #666 !important;
    }

    td.score-tied {
        background-color: #eee;
        color: black;
    }

    td.no-data {
        background-color: rgba(48, 48, 48, 0.75);
        text-align: center;
    }

    #appearance-by-year td.no-data, #average-scores-by-year-all td.no-data {
        vertical-align: middle !important;
    }

    span.hover.tooltip {
        border-bottom: 1px dotted lightskyblue;
    }

    .pure-form legend {
        color: white !important;
    }

    .pure-form .pure-button-primary {
        background-color: #0d47a1 !important;
    }

    .pure-form select {
        background-color: initial;
        color: inherit;
    }
}

@media (prefers-color-scheme: light) {
    html, table.pure-table caption {
        background-color: white;
        color: #202124 !important;
    }

    table.pure-table thead,
    table.pure-table tfoot {
        background-color: lightgray !important;
    }

    td.score-tied {
        background-color: #eee;
    }

    td.no-data {
        background-color: rgb(240, 240, 240) !important;
    }

    span.hover.tooltip {
        border-bottom: 1px dotted blue !important;
    }

    .pure-form .pure-button-primary {
        background-color: #00e !important;
    }
}

@media only screen and (max-width: 480px) {
    #appearance-by-year, #average-scores-by-year-all {
        font-size: 0.975rem;
        margin: 0;
        max-height: 45vh;
    }
}

@media only screen and (max-width: 48em) {

    /* Hide Panelist Debut by Years list and Panelist vs Panelist Panelists
       List on Pure CSS on medium or smaller displays */
    div.debut-year-list, div.pvp-panelist-list {
        display: none;
        visibility: hidden;
    }
}

@media print {
    html, body {
        background-color: initial;
        color: initial;
        margin: initial;
        padding: initial;
    }

    table tfoot {
        display: none;
        visibility: hidden;
    }

    #appearance-by-year, #average-scores-by-year-all {
        max-height: initial;
        max-width: 100%;
        overflow: visible;
    }
}
