{% extends "base.html" %}
{% block title %}Guests{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Guests</li>
    </ol>
</nav>

<h2>Guests</h2>

<div class="info">
    <div class="container-fluid py-3">
        <ul class="list-group report-list">
            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('guests.best_of_only_not_my_job_guests') }}">Best Of Only Not My Job Guests</a>
                </h3>

                <div class="description">
                    This report provides a list of Not My Job guests that have only appeared
                    on Best Of shows and not on any regular show. These guests would have made
                    their appearances on second live tapings when Wait Wait Don't Tell Me!
                    travel to other cities.
                </div>
            </li>

            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('guests.most_appearances') }}">Most Appearances</a>
                </h3>

                <div class="description">
                    This report provides a list of Not My Job guests and the number of
                    appearances that they have made across all shows and regular shows. The
                    list is ordered based on the number of appearances for all shows in
                    descending order.
                </div>
            </li>

            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('guests.not_my_job_scoring_exceptions') }}">Not My Job Scoring Exceptions</a>
                </h3>

                <div class="description">
                    This report provides a list of Not My Job guests that have a scoring exception
                    that allowed them to win the prize for the listener contestant, even though they
                    didn't score 2 or more points. An exception is also noted if the guest was
                    awarded all 3 points no matter their actual score.
                </div>
            </li>

            <li class="list-group-item">
                <h3 class="title">
                    <a href="{{ url_for('guests.not_my_job_three_pointers') }}">Not My Job Three Pointers</a>
                </h3>

                <div class="description">
                    This report provides a list of all of the Not My Job guests who answered
                    all three Not My Job questions correctly or were awarded all three points
                    via a scoring exception.
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
