{% extends "base.html" %}
{% block title %}Guests{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Guests</li>
    </ol>
</nav>

<h2>Guests</h2>

{% include "guests/_reports.html" %}

{% endblock content %}


{#
{% extends "base.html" %}
{% block title %}Guests{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li>Guests</li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Guests Reports</h2>
{% endblock synopsis %}

{% block content %}
{% include "guests/_reports.html" %}
{% endblock content %}
#}
