<dl>
    <dt>
        <a href="{{ url_for('guests.best_of_only') }}">Best Of Only Guests</a>
    </dt>
    <dd>
        A listing of Not My Job guests that have appeared on Best Of shows but
        not regular shows; due to, appearing on shows that were part of the
        show's second taping when traveling away from their home base of
        Chicago, Illinois.
    </dd>

    <dt>
        <a href="{{ url_for('guests.most_appearances') }}">Most Appearances</a>
    </dt>

    <dd>
        A listing of Not My Job guests ordered by guests with the most number
        of appearances across all shows to the least number of appearances.
    </dd>

    <dt>
        <a href="{{ url_for('guests.scoring_exceptions') }}">Scoring Exceptions</a>
    </dt>
    <dd>
        A list of Not My Job guests who have had scoring exceptions that allowed
        them to win the prize for the listener contestant or were awarded the
        full three points.
    </dd>

    <dt>
        <a href="{{ url_for('guests.three_pointers') }}">Three Pointers</a>
    </dt>
    <dd>
        A list of all of the Not My Job guests who answered all three Not My Job
        questions correctly or were awarded all three points.
    </dd>
</dl>
