{% extends "base.html" %}
{% set page_title="Most Appearances" %}
{% block title %}{{ page_title }} | Guests{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('guests.index') }}">Guests</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A table displaying all Not My Job guests with a count of appearances on regular
        shows and appearances across all shows (including Best Of and repeat
        shows).
    <p>
        The guests are listed in descending order based on the number of
        appearances across all shows, then based on appearances on regular shows.
    </p>
</div>

{% if guests %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name guest long">
                    <col class="count">
                    <col class="count">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">Guest</th>
                        <th colspan="2">Shows</th>
                    </tr>
                    <tr>
                        <th scope="col">All</th>
                        <th scope="col">Regular</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guest in guests %}
                    <tr>
                        <td><a href="{{ stats_url }}/guests/{{ guest.slug }}">{{ guest.name }}</a></td>
                        <td>{{ guest.all_shows }}</a></td>
                        <td>{{ guest.regular_shows }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col" rowspan="2">Guest</th>
                        <th scope="col">All</th>
                        <th scope="col">Regular</th>
                    </tr>
                    <tr>
                        <th colspan="2">Shows</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
