{% extends "base.html" %}
{% set page_title = "Not My Job Three Pointers" %}
{% block title %}{{ page_title }} | Guests{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('guests.index') }}">Guests</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<div id="intro" class="mb-5">
    <h2>{{ page_title }}</h2>
    <p>
        A table displaying all Not My Job guests who correctly answered all three Not My Job
        questions or were awarded all three points via a scoring exception.
    </p>
</div>

{% if three_pointers %}
<div class="row">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover report">
                <colgroup>
                    <col class="name guest">
                    <col class="date">
                    <col class="name scorekeeper">
                    <col class="score">
                    <col class="boolean">
                    <col class="notes">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Guest</th>
                        <th scope="col">Show Date</th>
                        <th scope="col">Scorekeeper</th>
                        <th scope="col">Score</th>
                        <th scope="col">Scoring Exception</th>
                        <th scope="col">Show Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for guest in three_pointers %}
                    <tr>
                        <td><a href="{{ stats_url }}/guests/{{ guest.slug }}">{{ guest.name }}</a></td>
                        <td><a href="{{ stats_url }}/shows/{{ guest.show_date | replace('-', '/') }}">{{ guest.show_date }}</a></td>
                        {% if guest.scorekeeper.guest %}
                        <td><b>{{ guest.scorekeeper.name }}</b></td>
                        {% else %}
                        <td>{{ guest.scorekeeper.name }}</td>
                        {% endif %}
                        <td>{{ guest.score }}</td>
                        {% if guest.exception %}
                        <td>{{ guest.exception }}</td>
                        {% else %}
                        <td class="no-data">-</td>
                        {% endif %}
                    {% if guest.exception and guest.show_notes %}
                        <td class="notes">{{ guest.show_notes | markdown | safe }}</td>
                    {% else %}
                        <td class="no-data">-</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Guest</th>
                        <th scope="col">Show Date</th>
                        <th scope="col">Scorekeeper</th>
                        <th scope="col">Score</th>
                        <th scope="col">Scoring Exception</th>
                        <th scope="col">Show Notes</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info my-5" role="alert">
    <i class="bi bi-info-circle pe-1"></i> Data for <b>{{ page_title }}</b> is currently unavailable.
</div>
{% endif %}

{% endblock content %}
