{% extends "base.html" %}
{% block title %}Not My Job Scoring Exceptions | Guests{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('guests.index') }}">Guests</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Not My Job Scoring Exceptions</h2>
<p>
    This report provides a list of Not My Job guests that have a scoring exception
    that allowed them to win the prize for the listener contestant, even though they
    didn't score the required 2 or more points. An exception is also noted if the guest
    was awarded all 3 points no matter their actual score.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Report Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="name guest">
        <col class="date">
        <col class="score">
        <col class="notes">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Guest</th>
            <th scope="col">Show Date</th>
            <th scope="col">Score</th>
            <th scope="col">Show Notes</th>
        </tr>
    </thead>
    <tbody>
    {% for guest in exceptions %}
        {% if guest.exceptions|length == 1 %}
        <tr>
            <td>
                <a href="{{ stats_url }}/guests/{{ guest.slug }}">
                    {{ guest.name }}
                </a>
            </td>
            <td>
                <a href="{{ stats_url }}/shows/{{ guest.exceptions[0].date|replace('-', '/') }}">
                    {{ guest.exceptions[0].date }}
                </a>
            </td>
            <td>{{ guest.exceptions[0].score }}</td>
            {% if guest.exceptions[0].notes %}
            <td class="notes">{{ guest.exceptions[0].notes|markdown|safe }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
        {% else %}
            {% for count in range(0, guest.exceptions|length) %}
        <tr>
                {% if count == 0 %}
            <td rowspan="{{ guest.exceptions|length }}">
                <a href="{{ stats_url }}/guests/{{ guest.slug }}">
                    {{ guest.name }}
                </a>
            </td>
                {% endif %}
            <td>
                <a href="{{ stats_url }}/shows/{{ guest.exceptions[count].date|replace('-', '/') }}">
                    {{ guest.exceptions[count].date }}
                </a>
            </td>
            <td>{{ guest.exceptions[count].score }}</td>
            {% if guest.exceptions[count].notes %}
            <td class="notes">{{ guest.exceptions[count].notes|markdown|safe }}</td>
            {% else %}
            <td class="no-data">-</td>
            {% endif %}
        </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Guest</th>
            <th scope="col">Show Date</th>
            <th scope="col">Score</th>
            <th scope="col">Show Notes</th>
        </tr>
    </tfoot>
</table>
<!-- End Report Section -->
{% endblock content %}
