{% extends "base.html" %}
{% set page_title = "On This Day" %}
{% block title %}
{%- if specific_month_day %}{{ date.strftime("%b %-d") }} | {%- endif %} {{ page_title -}}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        {% if specific_month_day %}
        <li class="breadcrumb-item"><a href="{{ url_for('on_this_day.index' )}}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ date.strftime("%b %-d") }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
        {% endif %}
    </ol>
</nav>

<pre>
{{ details }}
</pre>

{% endblock %}
